openapi: 3.0.1
info:
  title: ER testing
  description: |-
    An enterprise router is a central router that interconnects all of your VPCs and on-premises networks. It uses Border Gateway Protocol (BGP) to learn routes and dynamically select or switch between connections.
    This improves network scalability, O&M efficiency, and service continuity.
  version: v3
servers:
  - url: https://enterprise.cloud.com/
tags:
  - name: EnterpriseRouterInstance
    description: "An enterprise router can work together with VPN or Direct Connect to connect VPCs to on-premises networks at Layer 3, and with Cloud Connect to connect VPCs from different regions. You can configure routes flexibly for network isolation or communication."
    x-name: Enterprise Routers
    x-publishpath: EnterpriseRouterInstance
  - name: VPCAttachment
    description: Create a VPC attachment to attach the VPC to the enterprise router.
    x-name: VPC Attachments
    x-publishpath: VPCAttachment
  - name: Attachments
    description: Create an attachment for a network instance to attach the network instance to the enterprise router.
    x-name: Attachments
    x-publishpath: Attachments
  - name: RouteTable
    description: "A route table is the basis for an enterprise router to send packets. It contains attachment associations, propagations, and routes."
    x-name: Route Tables
    x-publishpath: RouteTable
  - name: Association
    description: Each attachment only can be associated with one route table of its enterprise router for packet forwarding and route propagation.
    x-name: Associations
    x-publishpath: Association
  - name: Propagation
    description: A propagation can be created for each attachment to propagate routes to one or more route tables on an enterprise router.
    x-name: Propagations
    x-publishpath: Propagation
  - name: Route
    description: Route that contains a destination and multiple next hops (ECMP entries)
    x-name: Routes
    x-publishpath: Route
  - name: Tags
    description: Tags are used to identify cloud resources for purposes of easy categorization and quick search. You can add tags for enterprise routers and route tables.
    x-name: Tags
    x-publishpath: Tags
  - name: AvailableZone
    description: AZ
    x-name: AZs
    x-publishpath: AvailableZone
paths:
  /v3/{project_id}/enterprise-router/instances:
    get:
      tags:
        - EnterpriseRouterInstance
      summary: Querying Enterprise Routers
      description: This API is used to query enterprise routers.
      operationId: ListEnterpriseRouters
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/EnterpriseProjectIdInQuery'
        - $ref: '#/components/parameters/StateInQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/AttachmentResourceIdInQuery'
        - $ref: '#/components/parameters/OwnedBySelfInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnterpriseRoutersResponseBody'
              example:
                instances:
                  - id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                    name: my_er
                    description: this is my first enterprise router
                    asn: 64512
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    enable_default_association: true
                    enable_default_propagation: true
                    default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                    default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                    auto_accept_shared_attachments: false
                    created_at: 2019-09-06 02:11:13Z
                    updated_at: 2019-09-06 02:11:13Z
                    tags:
                      - key: key
                        value: value
                    enterprise_project_id: 0
                    availability_zone_ids:
                      - az1
                      - az2
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
                page_info:
                  next_marker: "2"
                  current_count: 1
      deprecated: false
      x-order: 4
      x-constraint: "Parameters **marker** and **limit** are used for pagination query. The two parameters take effect only when they are used together. Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported."
      x-huawei-security:
        epsAction: list
        pdpKey: er:instances:list
        enableEProject: true
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances?limit=2&marker=1"
      x-request-examples-url-2: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances"
      x-request-examples-description-1: Querying two records in pagination
      x-request-examples-description-2: Querying all enterprise routers
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - EnterpriseRouterInstance
      summary: Creating an Enterprise Router
      description: "This API is used to create an enterprise router. If both Default Route Table Association and Default Route Table Propagation are enabled, the system will create a route table as both the default association route table and the default propagation route table."
      operationId: CreateEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnterpriseRouterRequestBody'
            example:
              instance:
                name: my_er
                description: this is my first enterprise router
                asn: 64512
                enable_default_association: true
                enable_default_propagation: true
                tags:
                  - key: key1
                    value: value1
                availability_zone_ids:
                  - az1
                  - az2
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  asn: 64512
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  auto_accept_shared_attachments: false
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                  tags:
                    - key: key1
                      value: value1
                  enterprise_project_id: 0
                  availability_zone_ids:
                    - az1
                    - az2
                request_id: 14c2b814-99dc-939a-e811-ae84c61ea3f4
      deprecated: false
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:instances:create
        enableEProject: true
      x-request-examples-description-1: Creating an enterprise router
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances"
      x-request-examples-1:
        instance:
          name: my_er
          description: this is my first enterprise router
          asn: 64512
          enable_default_association: true
          enable_default_propagation: true
          tags:
            - key: key1
              value: value1
          availability_zone_ids:
            - az1
            - az2
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
      - EnterpriseRouterInstance
      summary: Querying Details About an Enterprise Router
      description: This API is used to query details about an enterprise router.
      operationId: ShowEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  auto_accept_shared_attachments: false
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 14c2b814-99dc-939b-e81c-ae84c61ea3f7
      deprecated: false
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:instances:get
        enableEProject: true
      x-request-examples-description-1: Querying details about an enterprise router with a specified ID
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/08d5a9564a704afda6039ae2babbef3c"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - EnterpriseRouterInstance
      summary: Updating an Enterprise Router
      description: This API is used to update basic information about the enterprise router.
      operationId: UpdateEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Update enterprise router information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnterpriseRouterRequestBody'
            example:
              name: my_er
              description: this is my first enterprise router
              enable_default_propagation: true
              enable_default_association: true
              default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
              default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  auto_accept_shared_attachments: false
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 14c2b814-99dc-939b-e81c-ae84c61ea3f7
      x-order: 2
      x-constraint: Information (except name and description) can be updated only when the enterprise router is in the available state.
      x-huawei-security:
        epsAction: update
        pdpKey: er:instances:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/94c2b814-99dc-939a-e811-ae84c61ea3ff"
      x-request-examples-description-1: Update the enterprise router, enable default route table association and default route table propagation functions, and specify the corresponding route table
      x-request-examples-1:
        instance:
          enable_default_association: true
          enable_default_propagation: true
          default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
          default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - EnterpriseRouterInstance
      summary: Deleting an Enterprise Router
      description: This API is used to delete an enterprise router.
      operationId: DeleteEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-order: 7
      x-contraint: |-
        1. Only an enterprise router and its default route table can be deleted. If the enterprise router has other associated resources, delete these resources, including route tables, attachments, associations, propagations, and routes first.
        2. An enterprise router can be deleted only when it is in the available, deleting, or failed state. "
      x-huawei-security:
        epsAction: delete
        pdpKey: er:instances:delete
        enableEProject: true
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/94c2b814-99dc-939a-e811-ae84c61ea3ff"
      x-request-examples-description-1: Deleting an enterprise router
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - EnterpriseRouterInstance
      summary: Changing Enterprise Router AZs
      description: This API is used to change enterprise router AZs. The AZs can be changed only when the enterprise router is in the **available state**.
      operationId: ChangeAvailabilityZone
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Request body for changing enterprise router AZs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseRouterAZ'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 5f7f738f-453c-40b1-be26-28e7b9e390c2
      x-order: 6
      x-huawei-security:
        epsAction: update
        pdpKey: er:instances:changeAZ
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/cccf35ad-fd0d-4043-aab2-dc28ae56f967/change-availability-zone-ids"
      x-request-examples-description-1: Update Availability Zones for Enterprise Routers
      x-request-examples-1:
        availability_zone_ids:
          - az1
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk"
    get:
      tags:
        - VPCAttachment
      summary: Querying VPC Attachments
      description: This API is used to query the VPC attachments of the enterprise router.
      operationId: ListVpcAttachments
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/AttachmentStateInQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
        - name: vpc_id
          in: query
          description: VPC id
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVPCAttachments'
              example:
                vpc_attachments:
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    name: vpc-attach-01
                    vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                    virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    name: vpc-attach-01
                    vpc_id: 4b8567f6-358f-4a7f-8cd3-3cbb82c0b25f
                    virsubnet_id: 2b55f334-a15e-43a9-ab11-b34c2dbb6fac
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                page_info:
                  next_marker: "1"
                  current_count: 2
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 4
      x-constraint: |-
        VPC attachments can be queried in the following methods:

        - Filtering query is supported. You can query by ID, state, enterprise project ID, and VPC ID. You can query multiple resources at a time or use combined criteria to query resources.
        - Pagination query is supported. You can use **limit** and **marker** together for pagination query.
        - Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported.
      x-huawei-security:
        epsAction: list
        pdpKey: er:attachments:list
        enableEProject: true
      x-request-examples-url-2: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/vpc-attachments"
      x-request-examples-description-2: Querying all VPC attachments
      x-request-examples-description-1: Querying all VPC attachments in pagination
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/vpc-attachments?limit=10"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - VPCAttachment
      summary: Creating a VPC Attachment
      description: This API is used to create a VPC attachment for an enterprise router.
      operationId: CreateVpcAttachment
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Request body for creating a VPC attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVpcAttachmentBody'
            example:
              vpc_attachment:
                name: vpc-atta
                vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                virsubnet_id: 0605767a9980d5762fbcc00b3537e757
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  name: vpc-atta
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  auto_create_vpc_routes: false
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:attachments:create
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ab54142-7c92-48ad-8288-77727a231052/vpc-attachments"
      x-request-examples-description-1: Creating a VPC attachment
      x-request-examples-1:
        vpc_attachment:
          name: vpc-atta
          vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
          virsubnet_id: 0605767a9980d5762fbcc00b3537e757
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - VPCAttachment
      summary: Querying Details About a VPC Attachment
      description: This API is used to query details about a VPC attachment.
      operationId: ShowVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  name: vpc-attach
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: available
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:attachments:get
        enableEProject: true
      x-request-examples-description-1: Querying details about a VPC attachment
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/212d3f0b-8496-472d-bc99-05a7c96d6655/vpc-attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - VPCAttachment
      summary: Updating a VPC Attachment
      description: This API is used to update basic information about a VPC attachment.
      operationId: UpdateVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      requestBody:
        description: Request body for updating a VPC attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVpcAttachmentRequestBody'
            example:
              vpc_attachment:
                name: new-vpc-attach
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: 3b9724e9-49ec-4d21-9191-3d703133b910
                  name: new-vpc-attach
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  auto_create_vpc_routes: false
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: available
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 2
      x-huawei-security:
        epsAction: update
        pdpKey: er:attachments:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/f1a28dfd-186f-4625-b6b1-f05e5e8609c0/vpc-attachments/3b9724e9-49ec-4d21-9191-3d703133b910"
      x-request-examples-description-1: Updating basic information about a VPC attachment
      x-request-examples-1:
        vpc_attachment:
          name: new-vpc-attach
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - VPCAttachment
      summary: Deleting a VPC Attachment
      description: This API is used to delete a VPC attachment.
      operationId: DeleteVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-constraint: "A VPC attachment can be deleted only when it is in the available, deleting, or failed state."
      x-huawei-security:
        epsAction: delete
        pdpKey: er:attachments:delete
        enableEProject: true
      x-request-examples-description-1: Deleting a VPC attachment
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ba931b6-5273-4ed9-8eeb-484d16a4786f/vpc-attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
components:
  schemas:
    UUIDS:
      type: array
      items:
        pattern: "^([a-fA-F0-9]{8}(-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12})$"
        type: string
        description: UUID
    EnterpriseRouter:
      required:
        - asn
        - availability_zone_ids
        - created_at
        - enable_default_association
        - enable_default_propagation
        - id
        - name
        - project_id
        - state
        - updated_at
      type: object
      properties:
        id:
          type: string
          description: Enterprise router ID
        name:
          type: string
          description: Enterprise router name
        description:
          type: string
          description: Supplementary information about an enterprise router
        state:
          type: string
          description: Running status
        tags:
          type: array
          description: Tag information
          items:
            $ref: '#/components/schemas/Tag'
        charge_mode:
          type: string
          description: "Billing mode: Pay-per-use"
          default: postPaid
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
        enterprise_project_id:
          type: string
          description: Enterprise project ID
        project_id:
          type: string
          description: Project ID
        asn:
          type: integer
          description: Enterprise router BGP ASN
          format: int64
        enable_default_propagation:
          type: boolean
          description: "Whether to enable the Default Route Table Propagation function. The default value is false, indicating that the function is disabled."
        enable_default_association:
          type: boolean
          description: "Whether to enable the Default Route Table Association function. The default value is false, indicating that the function is disabled."
        default_propagation_route_table_id:
          type: string
          description: Default propagation route table ID
        default_association_route_table_id:
          type: string
          description: Default association route table ID
        availability_zone_ids:
          type: array
          description: AZs where the enterprise router is located
          items:
            type: string
        auto_accept_shared_attachments:
          type: boolean
          description: "Whether to automatically accept shared attachments. The default value is false, indicating that the function is disabled."
        domain_id:
          x-internal: "True"
          type: string
          description: domain id
      description: Enterprise router
    EnterpriseRouterResponse:
      required:
        - instance
        - request_id
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/EnterpriseRouter'
        request_id:
          type: string
          description: Request ID
      description: Enterprise router
    ListEnterpriseRoutersResponseBody:
      required:
        - instances
        - request_id
      type: object
      properties:
        instances:
          type: array
          description: Enterprise routers
          items:
            $ref: '#/components/schemas/EnterpriseRouter'
        page_info:
          $ref: '#/components/schemas/PageInfo'
        request_id:
          type: string
          description: Request ID
      description: This is a auto create Response Object
    AttachmentDetails:
      required:
        - id
        - name
        - project_id
        - resource_id
        - resource_type
      type: object
      properties:
        id:
          type: string
          description: Attachment ID
        name:
          type: string
          description: Attachment name
        description:
          type: string
          description: Attachment description
        state:
          type: string
          description: "Attachment status: **pending**, **available**, **modifying**, **deleting**, **deleted**, **failed**, **pending_acceptance**, **rejected**, and **initiating_request**"
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
        tags:
          type: array
          description: Enterprise router tags
          items:
            $ref: '#/components/schemas/Tag'
        project_id:
          type: string
          description: Project ID
        er_id:
          type: string
          description: er id
        resource_id:
          type: string
          description: Attached resource ID on its own service console
        resource_type:
          type: string
          description: "- vgw: Direct Connect virtual gateway\n- vpn: VPN gateway\n- \n- Peering: Peering connection that connects enterprise routers from different regions through Cloud Connect\n-"
        resource_project_id:
          type: string
          description: ID of the project that the resource belongs to
        associated:
          type: boolean
          description: Whether the attachment is associated.
        route_table_id:
          type: string
          description: Association route table ID
          example: 212d3f0b-8496-472d-bc99-05a7c96d6655
    UpdateAttachmentBody:
      type: object
      properties:
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about the attachment. The value contains a maximum of 36 characters in UUID format with hyphens (-).
          example: string
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: "Attachment name. The value can contain 1 to 64 characters, including letters, digits, underscores (_), hyphens (-), and periods (.)."
          example: string
      description: Change basic information about the attachment.
    UpdateAttachmentRequestBody:
      type: object
      properties:
        attachment:
          $ref: '#/components/schemas/UpdateAttachmentBody'
    VpcAttachmentDetails:
      required:
        - created_at
        - id
        - name
        - project_id
        - state
        - virsubnet_id
        - vpc_id
      type: object
      properties:
        id:
          type: string
          description: VPC attachment ID
          example: string
        name:
          type: string
          description: VPC attachment name
          example: string
        vpc_id:
          type: string
          description: VPC id
          example: string
        virsubnet_id:
          type: string
          description: VPC subnet ID
          example: string
        auto_create_vpc_routes:
          type: boolean
          description: "The default value is false. If this parameter is set to true, routes with this enterprise router as the next hop and 10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16 as the destinations will be automatically added to the route tables of the VPC."
          default: false
        state:
          type: string
          description: "VPC attachment status: **pending**, **available**, **modifying**, **deleting**, **deleted**, **failed**, **initiating_request**, **rejected**, and **pending_acceptance**"
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
        tags:
          type: array
          description: Tag information
          items:
            $ref: '#/components/schemas/Tag'
        description:
          type: string
          description: Supplementary information about the VPC attachment
          example: string
        project_id:
          type: string
          description: Project ID
          example: string
        vpc_project_id:
          type: string
          description: ID of the project that the VPC belongs to
          example: string
      description: VPC attachment
    VpcAttachmentResponseBody:
      required:
        - request_id
        - vpc_attachment
      type: object
      properties:
        vpc_attachment:
          $ref: '#/components/schemas/VpcAttachmentDetails'
        request_id:
          type: string
          description: Request ID
      description: VPC attachment
    VpcAttachmentCreateRequest:
      required:
        - name
        - virsubnet_id
        - vpc_id
      type: object
      properties:
        vpc_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
          description: VPC ID. The value contains a maximum of 36 characters in UUID format with hyphens (-).
          example: a43c55e9-4911-4030-90e6-5c2bf6ae6fe0
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: "VPC attachment name. The value can contain 1 to 64 characters, including letters, digits, underscores (_), hyphens (-), and periods (.)."
          example: vpc att
        virsubnet_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
          description: VPC subnet ID. The value contains a maximum of 36 characters in UUID format with hyphens (-).
          example: 212d3f0b-8496-472d-bc99-05a7c96d6655
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information. The value can contain no more than 255 characters and cannot contain angle brackets (< or >).
          example: ""
        auto_create_vpc_routes:
          type: boolean
          description: "The default value is false. If the value is set to true, a route with the enterprise router as the next hop will be automatically added to the route tables of the VPC."
          default: false
        tags:
          type: array
          description: Tag information
          example:
            - key: key1
              value: value1
          items:
            $ref: '#/components/schemas/Tag'
      description: VPC attachment
    CreateVpcAttachmentBody:
      required:
        - vpc_attachment
      type: object
      properties:
        vpc_attachment:
          $ref: '#/components/schemas/VpcAttachmentCreateRequest'
    ListAttachments:
      type: object
      properties:
        attachments:
          type: array
          description: Attachments
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        page_info:
          $ref: '#/components/schemas/PageInfo'
        request_id:
          type: string
          description: Request ID
    ListVPCAttachments:
      type: object
      properties:
        vpc_attachments:
          type: array
          description: VPC attachments
          items:
            $ref: '#/components/schemas/VpcAttachmentDetails'
        page_info:
          $ref: '#/components/schemas/PageInfo'
        request_id:
          type: string
          description: Request ID
    UpdateVpcAttachmentBody:
      type: object
      properties:
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about the VPC attachment. The value contains a maximum of 36 characters in UUID format with hyphens (-).
          example: ""
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: "VPC attachment name. The value can contain 1 to 64 characters, including letters, digits, underscores (_), hyphens (-), and periods (.)."
          example: vpc new att
      description: Request body for updating VPC information
    UpdateVpcAttachmentRequestBody:
      type: object
      properties:
        vpc_attachment:
          $ref: '#/components/schemas/UpdateVpcAttachmentBody'
      description: This is a auto create Body Object
    RouteAttachment:
      required:
        - attachment_id
        - resource_id
        - resource_type
      type: object
      properties:
        resource_id:
          type: string
          description: Attached resource ID
        resource_type:
          type: string
          description: "Attachment type:\n\n- **vpc**: VPC attachment\n- **vpn**: VPN gateway attachment\n- **vgw**: virtual gateway attachment\n- **peering**: peering connection attachment. A cloud connection is used to connect two enterprise routers from different regions.\n- \n-"
        attachment_id:
          type: string
          description: Attachment ID
    AttachmentResponse:
      required:
        - created_at
        - description
        - id
        - name
        - project_id
        - resource_id
        - resource_type
        - state
      type: object
      properties:
        name:
          type: string
          description: Attachment name
        id:
          type: string
          description: Attachment ID
        description:
          type: string
          description: Supplementary information
        state:
          type: string
          description: "Attachment status: **pending**, **available**, **modifying**, **deleting**, **deleted**, **failed**, **pending_acceptance**, **rejected**, and **initiating_request**"
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
        tags:
          type: array
          description: Enterprise router tags
          items:
            $ref: '#/components/schemas/Tag'
        project_id:
          type: string
          description: Project ID
        resource_id:
          type: string
          description: Attached resource ID on its own service console
        resource_type:
          type: string
          description: "The following types of attachments are available:\n\n- **vgw**: Virtual gateway attachment\n- **vpn**: VPN gateway attachment\n- \n- **peering**: peering connection attachment. A cloud connection is used to connect enterprise routers from different regions.\n- \n- **connect**: connect attachment"
        resource_project_id:
          type: string
          description: ID of the project that the resource belongs to
      description: Attachment basic information
    AttachmentResponseBody:
      required:
        - attachment
        - request_id
      type: object
      properties:
        attachment:
          $ref: '#/components/schemas/AttachmentResponse'
        request_id:
          type: string
          description: Request ID
    Tag:
      type: object
      properties:
        key:
          maxLength: 128
          minLength: 0
          type: string
          description: "Tag key. The value can contain a maximum of 36 Unicode characters, including uppercase letters, lowercase letters, digits, hyphens (-), and underscores (_)."
        value:
          maxLength: 128
          minLength: 0
          type: string
          description: "Tag value. The value can contain a maximum of 43 Unicode characters, including uppercase letters, lowercase letters, digits, hyphens (-), underscores (_), periods (.)."
      description: Resource tag
    PageInfo:
      required:
        - current_count
      type: object
      properties:
        next_marker:
          type: string
          description: "Marker of the next page. If the value is empty, the resource is on the last page."
        current_count:
          type: integer
          description: Number of resources in the list
          format: int32
      description: Pagination query information
    ListAvailableZonesBody:
      type: object
      properties:
        availability_zones:
          type: array
          description: available zones
          items:
            $ref: '#/components/schemas/AvailableZone'
        request_id:
          type: string
          description: request id
    AvailableZone:
      type: object
      properties:
        code:
          type: string
          description: available zone code
        state:
          type: string
          description: "Whether the availability zone is available,available|unavailable"
    Propagation:
      type: object
      properties:
        id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique association ID
        project_id:
          pattern: "[a-fA-F0-9]{32}"
          type: string
          description: Project ID
        er_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
          description: Enterprise router ID
        route_table_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the route table
        attachment_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        resource_type:
          type: string
          description: Attachment type
        resource_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        route_policy:
          $ref: '#/components/schemas/ImportRoutePolicy'
        state:
          type: string
          description: Status
        created_at:
          type: string
          description: |-
            Time when the resource was created
            UTC time
            Format: YYYY-MM-DDTHH:MM:SS
          format: date-time
        updated_at:
          type: string
          description: |-
            Time when the resource was updated
            UTC time
            Format: YYYY-MM-DDTHH:MM:SS
          format: date-time
      description: Propagation details
    PropagationRequestBody:
      type: object
      properties:
        attachment_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        route_policy:
          $ref: '#/components/schemas/ImportRoutePolicy'
      example:
        attachment_id: 2609ec92-ac19-4467-a527-7f9e690e7836
    EnablePropagationsResponseBody:
      type: object
      properties:
        propagation:
          $ref: '#/components/schemas/Propagation'
        request_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Request ID
    ListPropagationsResponseBody:
      type: object
      properties:
        propagations:
          maxItems: 2000
          minItems: 0
          type: array
          description: Route propagations
          items:
            $ref: '#/components/schemas/Propagation'
        request_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Request ID
        page_info:
          $ref: '#/components/schemas/PageInfo'
    CreateEnterpriseRouter:
      required:
        - asn
        - availability_zone_ids
        - name
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: Enterprise router name
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about an enterprise router
        asn:
          type: integer
          description: Enterprise router BGP ASN
          format: int64
        enterprise_project_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}|0"
          type: string
          description: Enterprise project ID
        charge_mode:
          type: string
          description: "Billing mode: Pay-per-use"
          enum:
            - postPaid
            - prePaid
          default: postPaid
        tags:
          type: array
          description: Tag information
          items:
            $ref: '#/components/schemas/Tag'
        enable_default_propagation:
          type: boolean
          description: "Whether to enable the Default Route Table Propagation function. The default value is false, indicating that the function is disabled."
          default: false
        enable_default_association:
          type: boolean
          description: "Whether to enable the Default Route Table Association function. The default value is false, indicating that the function is disabled."
          default: false
        availability_zone_ids:
          type: array
          description: AZs where the enterprise router is located
          items:
            maxLength: 128
            minLength: 0
            type: string
        auto_accept_shared_attachments:
          type: boolean
          description: "Whether to enable Auto Accept Shared Attachments. The default value is false, indicating that the function is disabled."
          default: false
      description: Enterprise router
    CreateEnterpriseRouterRequestBody:
      required:
        - instance
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/CreateEnterpriseRouter'
      description: This is a auto create Body Object
    UpdateEnterpriseRouterRequestBody:
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/UpdateEnterpriseRouter'
    EnterpriseRouterAZ:
      required:
        - availability_zone_ids
      type: object
      properties:
        availability_zone_ids:
          type: array
          description: AZs where the enterprise router is located
          items:
            maxLength: 256
            minLength: 1
            type: string
      example:
        availability_zone_ids:
          - az1
    UpdateEnterpriseRouter:
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: Enterprise router name
          example: my_er
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about an enterprise router
          example: this is my first enterprise router
        enable_default_propagation:
          type: boolean
          description: Whether to enable Default Route Table Propagation.
          example: true
        enable_default_association:
          type: boolean
          description: Whether to enable Default Route Table Association.
          example: true
        default_propagation_route_table_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
          description: Default propagation route table ID
          example: 94c2b814-99dc-939a-e811-ae84c61ea3ff
        default_association_route_table_id:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
          description: Default association route table ID
          example: 94c2b814-99dc-939a-e811-ae84c61ea3ff
        auto_accept_shared_attachments:
          type: boolean
          description: "Whether to automatically accept shared attachments. The default value is false, indicating that the function is disabled."
          example: true
      description: Request body for updating an enterprise router
    BatchOperateResourceTagsRequestBody:
      required:
        - action
      type: object
      properties:
        action:
          type: string
          description: |-
            Function description: operation identification
            Ranges:：
            create（create）
            delete（delete）
          enum:
            - create
            - delete
          x-huawei-extraAnnotation: ""
        tags:
          type: array
          description: tags list
          items:
            $ref: '#/components/schemas/Tag'
          x-huawei-extraAnnotation: ""
      description: The request body of batch create or delete
    CreateResourceTagRequestBody:
      required:
        - tag
      type: object
      properties:
        tag:
          $ref: '#/components/schemas/Tag'
      description: Request body for creating resource tags
    ListProjectTagsResponseBody:
      type: object
      properties:
        tags:
          type: array
          description: Tags
          items:
            $ref: '#/components/schemas/Tags'
          x-huawei-extraAnnotation: ""
      description: Response body for querying project tags
    ShowResourceTagResponseBody:
      type: object
      properties:
        tags:
          type: array
          description: Tags
          items:
            $ref: '#/components/schemas/Tag'
          x-huawei-extraAnnotation: ""
      description: Response body for querying resource tags
    Tags:
      required:
        - key
        - values
      type: object
      properties:
        key:
          type: string
          description: "Tag key, which cannot be empty and can contain a maximum of 127 Unicode characters."
        values:
          type: array
          description: Tag values. Each value can contain a maximum of 255 Unicode characters.
          items:
            type: string
      description: Tags
    Association:
      type: object
      properties:
        id:
          maxLength: 36
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique association ID
        route_table_id:
          maxLength: 36
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the route table
        attachment_id:
          maxLength: 36
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        resource_type:
          type: string
          description: Attachment type
        resource_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        state:
          type: string
          description: Status
        created_at:
          type: string
          description: |-
            Time when the resource was created
            UTC time
            Format: YYYY-MM-DDTHH:MM:SS
          format: date-time
        updated_at:
          type: string
          description: |-
            Time when the resource was updated
            UTC time
            Format: YYYY-MM-DDTHH:MM:SS
          format: date-time
        route_policy:
          $ref: '#/components/schemas/ExportRoutePolicy'
      description: Association details
    AssociationRequestBody:
      type: object
      properties:
        attachment_id:
          maxLength: 36
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Unique ID of the attachment
        route_policy:
          $ref: '#/components/schemas/ExportRoutePolicy'
      description: Association
      example:
        attachment_id: 2609ec92-ac19-4467-a527-7f9e690e7836
    AssociateAttachmentsResponseBody:
      type: object
      properties:
        association:
          $ref: '#/components/schemas/Association'
        request_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Request ID
    ListAssociationsResponseBody:
      type: object
      properties:
        associations:
          maxItems: 2000
          minItems: 0
          type: array
          description: Route table associations
          items:
            $ref: '#/components/schemas/Association'
        request_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Request ID
        page_info:
          $ref: '#/components/schemas/PageInfo'
    CreateRoute:
      required:
        - destination
      type: object
      properties:
        destination:
          maxLength: 256
          minLength: 0
          type: string
          description: Destination address of the route
        attachment_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: ID of the attachment that the next hop of the route points to
        is_blackhole:
          type: boolean
          description: Whether the route is a blackhole route. The default value is false.
        description:
          type: string
          description: Route description
          minLength: 0
          maxLength: 255
          pattern: '[^<>]*'
      description: Request body for creating a route
      example:
        destination: string
        attachment_id: string
    Route:
      required:
        - attachments
        - created_at
        - destination
        - id
        - route_table_id
        - type
      type: object
      properties:
        id:
          type: string
          description: Route ID
        type:
          type: string
          description: Route type
        state:
          type: string
          description: Route status
        is_blackhole:
          type: boolean
          description: Whether the route is a blackhole route
        destination:
          type: string
          description: Destination address of the route
        attachments:
          type: array
          description: Next hops
          items:
            $ref: '#/components/schemas/RouteAttachment'
        route_table_id:
          type: string
          description: Route table ID
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
        description:
          type: string
          description: Route description
      description: Route
    RouteTable:
      required:
        - created_at
        - is_default_association
        - is_default_propagation
        - name
        - state
      type: object
      properties:
        id:
          type: string
          description: Route table ID
        name:
          type: string
          description: Route table name
        description:
          type: string
          description: Supplementary information
        is_default_association:
          type: boolean
          description: Whether the route table is the default association route table.
          default: false
        is_default_propagation:
          type: boolean
          description: Whether the route table is the default propagation route table.
        state:
          type: string
          description: "Route table status. The value can be pending, available, deleting, deleted, or failed."
        tags:
          type: array
          description: Tag
          items:
            $ref: '#/components/schemas/Tag'
        created_at:
          type: string
          description: Creation time
          format: date-time
        updated_at:
          type: string
          description: Update time
          format: date-time
      description: Route table
    CreateRouteRequestBody:
      required:
        - route
      type: object
      properties:
        route:
          $ref: '#/components/schemas/CreateRoute'
      description: This is a auto create Body Object
    CreateRouteTableRequestBody:
      type: object
      properties:
        route_table:
          $ref: '#/components/schemas/CreateRouteTable'
      description: This is a auto create Body Object
    UpdateRouteRequestBody:
      required:
        - route
      type: object
      properties:
        route:
          $ref: '#/components/schemas/UpdateRoute'
      description: This is a auto create Body Object
    UpdateRouteTableRequestBody:
      type: object
      properties:
        route_table:
          $ref: '#/components/schemas/UpdateRouteTable'
      description: This is a auto create Body Object
    UpdateRouteTable:
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: Route table name
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about the route table
      description: Request body for updating a route table
    RouteResponse:
      required:
        - request_id
        - route
      type: object
      properties:
        route:
          $ref: '#/components/schemas/Route'
        request_id:
          type: string
          description: Request ID
      description: Route response body
    UpdateRoute:
      type: object
      properties:
        attachment_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: Next hop of the route
          example: string
        is_blackhole:
          type: boolean
          description: Whether the route is a blackhole route
          example: false
        description:
          type: string
          description: Route description
          minLength: 0
          maxLength: 255
          pattern: '[^<>]*'
      description: Route
    RouteTableResponse:
      required:
        - request_id
        - route_table
      type: object
      properties:
        route_table:
          $ref: '#/components/schemas/RouteTable'
        request_id:
          type: string
          description: Request ID
      description: Response body of the route table
    CreateRouteTable:
      required:
        - name
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\u4e00-\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: Route table name
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: Supplementary information about the route table
        tags:
          type: array
          description: Tag information
          items:
            $ref: '#/components/schemas/Tag'
      description: Route table
    ListRouteTables:
      required:
        - request_id
        - route_tables
      type: object
      properties:
        route_tables:
          type: array
          description: Route tables
          items:
            $ref: '#/components/schemas/RouteTable'
        request_id:
          type: string
          description: Request ID
        page_info:
          $ref: '#/components/schemas/PageInfo'
    ListRoutes:
      required:
        - request_id
        - routes
      type: object
      properties:
        routes:
          type: array
          description: Routes
          items:
            $ref: '#/components/schemas/Route'
        request_id:
          type: string
          description: Request ID
        page_info:
          $ref: '#/components/schemas/PageInfo'
    EffectiveRoutesResponse:
      type: object
      properties:
        routes:
          type: array
          description: Routes
          items:
            $ref: '#/components/schemas/EffectiveRoute'
        request_id:
          type: string
          description: Request ID
        page_info:
          $ref: '#/components/schemas/PageInfo'
      description: Valid routes
    EffectiveRoute:
      type: object
      properties:
        route_id:
          type: string
          description: Route ID
        destination:
          type: string
          description: Destination address of the route
        next_hops:
          type: array
          description: Next hops of the routes
          items:
            $ref: '#/components/schemas/RouteAttachment'
        is_blackhole:
          type: boolean
          description: Whether the route is a blackhole route
        route_type:
          type: string
          description: Route type
        description:
          type: string
          description: Route description
      description: Valid routes
    ShowQuotasResponseBody:
      required:
        - quotas
      type: object
      properties:
        quotas:
          type: array
          description: Quota usage details
          items:
            $ref: '#/components/schemas/Quota'
        page_info:
          $ref: '#/components/schemas/PageInfo'
      description: Quota usage list
    Quota:
      type: object
      properties:
        quota_key:
          type: string
          description: quotas type
          example: er_instance
        quota_limit:
          type: integer
          description: The number of available quotas, -1 means unlimited
          format: int64
          example: 5
        used:
          type: integer
          description: number of quota used
          format: int64
          example: 1
        unit:
          type: string
          description: unit of usage
          example: count
    ExportRoutePolicy:
      type: object
      properties:
        export_policy_id:
          maxLength: 36
          minLength: 0
          type: string
          description: ID of the route policy that controls outbound traffic
      description: Route that controls outbound traffic
    ImportRoutePolicy:
      type: object
      properties:
        import_policy_id:
          maxLength: 36
          minLength: 0
          type: string
          description: ID of the route policy that controls inbound traffic
      description: Route that controls inbound traffic
    FlowLog:
      required:
        - created_at
        - enabled
        - id
        - log_group_id
        - log_store_name
        - log_store_type
        - log_stream_id
        - name
        - project_id
        - resource_id
        - resource_type
        - state
      type: object
      properties:
        id:
          type: string
          description: flow log ID
          example: string
        name:
          type: string
          description: flow log name
          example: string
        description:
          type: string
          description: flow log description
          example: string
        project_id:
          type: string
          description: Flow log task creator project ID
          example: string
        resource_type:
          type: string
          description: The type of resource collected:attachment
          example: string
        resource_id:
          type: string
          description: collected resources ID
          example: string
        log_group_id:
          type: string
          description: log group ID
          example: string
        log_stream_id:
          type: string
          description: log stream ID
          example: string
        log_store_type:
          type: string
          description: log store type
          example: string
        log_aggregation_interval:
          type: integer
          description: log aggregation interval, unit s, value range 60-600
          example: 600
        created_at:
          type: string
          description: created time
          format: date-time
        updated_at:
          type: string
          description: updated time
          format: date-time
        state:
          type: string
          description: Log resource state:pending|available|modifying|deleting|deleted|failed
        enabled:
          type: boolean
          description: log switch:true|false
      description: Flow Log Details
    CreateFlowLogRequestBody:
      required:
        - flow_log
      type: object
      properties:
        flow_log:
          $ref: '#/components/schemas/FlowLogRequest'
      description: request body of create flow log
    FlowLogRequest:
      required:
        - log_group_id
        - log_store_type
        - log_stream_id
        - name
        - resource_id
        - resource_type
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\\u4e00-\\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: flow log name
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
          description: flow log description
        resource_type:
          type: string
          description: |-
            Resource type for flow log collection:
              - VPC attachment
              - VGW attachment
              - Peering attachment
          enum:
            - attachment
        resource_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: resource id
        log_group_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: log group ID. Please obtain it from Cloud Log Service. For details, see << Cloud Log Service User Guide>>.
        log_stream_id:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
          description: log stream id。Please obtain it from Cloud Log Service. For details, see << Cloud Log Service User Guide>>.
        log_store_type:
          type: string
          description: |-
              log store type:
              - LTS: LTS
          enum:
            - LTS
      description: request body of create flow log
    ShowFlowLogResponseBody:
      required:
        - flow_log
        - request_id
      type: object
      properties:
        flow_log:
          $ref: '#/components/schemas/FlowLog'
        request_id:
          type: string
          description: request id
      description: flow log details
    ListFlowLogResponseBody:
      required:
        - flow_logs
        - request_id
      type: object
      properties:
        flow_logs:
          type: array
          items:
            $ref: '#/components/schemas/FlowLog'
        request_id:
          type: string
          description: request ID
        total_count:
          description: Total count
          type: integer
          format: int64
        page_info:
          $ref: '#/components/schemas/PageInfo'
      description: flow logs list
    UpdateFlowLogRequestBody:
      type: object
      properties:
        name:
          maxLength: 64
          minLength: 1
          pattern: "[\\u4e00-\\u9fa5a-zA-Z0-9-_.]*"
          type: string
          description: flow log name
        description:
          maxLength: 255
          minLength: 0
          pattern: "[^<>]*"
          type: string
      description: Update the name/description of the flow log
  parameters:
    XClientTokenInHeader:
      name: X-Client-Token
      in: header
      description: Idempotence identifier
      required: false
      style: simple
      explode: false
      schema:
        maxLength: 64
        minLength: 1
        type: string
    IdInQuery:
      name: id
      in: query
      description: Query by resource ID. Multiple resources can be queried at a time.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
    ErIdInPath:
      name: er_id
      in: path
      description: Enterprise router ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
        type: string
    EnterpriseProjectIdInQuery:
      name: enterprise_project_id
      in: query
      description: Enterprise project ID
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}|0|all_granted_eps"
          type: string
    DestinationInQuery:
      name: destination
      in: query
      description: Destination address of the route
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          maxLength: 256
          minLength: 0
          type: string
    StateInQuery:
      name: state
      in: query
      description: Enterprise router status
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - pending
            - available
            - modifying
            - deleting
            - deleted
            - failed
    OwnedBySelfInQuery:
      name: owned_by_self
      in: query
      description: "Filter whether the resource belongs to the current tenant; when the value is true, only check the resources belonging to the current tenant, excluding shared resources; when it is false, check the current tenant and the resources shared to the tenant;"
      required: false
      style: form
      explode: true
      schema:
        type: boolean
    AttachmentStateInQuery:
      name: state
      in: query
      description: "Attachment status: **pending**, **available**, **modifying**, **deleting**, **deleted**, **failed**, **pending_acceptance**, **rejected**, and **initiating_request**"
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - pending
            - available
            - modifying
            - deleting
            - deleted
            - failed
            - initiating_request
            - rejected
            - pending_acceptance
    RouteTableIdInPath:
      name: route_table_id
      in: path
      description: Route table ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    AttachmentIdInQuery:
      name: attachment_id
      in: query
      description: Attachment ID
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
          type: string
    RouteIdInPath:
      name: route_id
      in: path
      description: Route ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    AttachmentResourceIdInQuery:
      name: resource_id
      in: query
      description: Attachment resource IDs
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
    AttachmentResourceTypeInQuery:
      name: resource_type
      in: query
      description: "Attachment type:\n\n- **vpc**: VPC attachment\n- **vpn**: VPN gateway attachment\n- **vgw**: virtual gateway attachment\n- **peering**: peering connection attachment. A cloud connection is used to connect two enterprise routers from different regions.\n- \n- \n-"
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - vpc
            - vpn
            - dgw
            - vgw
            - peering
            - can
            - ecn
            - gdgw
            - connect
            - cfw
    LimitInQuery:
      name: limit
      in: query
      description: |-
        Number of records on each page.
        Value range: 0 to 2000
      required: false
      style: form
      explode: true
      schema:
        maximum: 2000
        minimum: 0
        type: integer
        format: int32
      example: 10
    MarkerInQuery:
      name: marker
      in: query
      description: |-
        ID of the last enterprise router on the previous page. If this parameter is left blank, the first page is queried.
        This parameter must be used together with limit.
      required: false
      style: form
      explode: true
      schema:
        maxLength: 128
        minLength: 1
        type: string
      example: 7f7f738f-453c-40b1-be26-28e7b9e390c1
    SortKeyInQuery:
      name: sort_key
      in: query
      description: "Sort by ID, name, or state. By default, ID is used."
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          maxLength: 128
          minLength: 0
          type: string
    SortDirInQuery:
      name: sort_dir
      in: query
      description: "Sorting order, including **asc** (ascending order) and **desc** (descending order). The default value is **asc**."
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - asc
            - desc
    ProjectIdInPath:
      name: project_id
      in: path
      description: Project ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[a-fA-F0-9]{32}"
        type: string
    AttachmentIdInPath:
      name: attachment_id
      in: path
      description: Attachment ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    VpcAttachmentIdInPath:
      name: vpc_attachment_id
      in: path
      description: VPC attachment ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    FlowLogResourceTypeInQuery:
      name: resource_type
      in: query
      description: The type of resource collected
      required: false
      style: form
      explode: true
      schema:
        type: string
        enum:
        - attachment
    FlowLogResourceIdInQuery:
      name: resource_id
      in: query
      description: Resource id corresponding to the attachments
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
          type: string
    TagsResourceId:
      name: resource_id
      in: path
      description: Resource ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    TagsResourceType:
      name: resource_type
      in: path
      description: "- instance: Enterprise router\n- route-table: Route table\n- vpc-attachment: VPC attachment\n- vgw-attachment: Virtual gateway attachment\n- peering-attachment: Peering connection attachment\n- vpn-attachment: VPN gateway attachment\n- \n- \n- attachments: All attachment types"
      required: true
      style: simple
      explode: false
      schema:
        type: string
        enum:
          - instance
          - route-table
          - vpc-attachment
          - dgw-attachment
          - vgw-attachment
          - peering-attachment
          - vpn-attachment
          - can-attachment
          - ecn-attachment
          - gdgw-attachment
          - connect-attachment
          - cfw-attachment
          - attachments
    Key:
      name: key
      in: path
      description: Tag key
      required: true
      style: simple
      explode: false
      schema:
        type: string
    AssociationState:
      name: state
      in: query
      description: Status
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - pending
            - available
            - deleting
            - deleted
            - failed
            - modifying
    IsDefaultPropagationRouteTable:
      name: is_default_propagation_table
      in: query
      description: Whether the route table is the default propagation route table.
      required: false
      style: form
      explode: true
      schema:
        type: boolean
    IsDefaultAssociationRouteTable:
      name: is_default_association_table
      in: query
      description: Whether the route table is the default association route table.
      required: false
      style: form
      explode: true
      schema:
        type: boolean
    RouteTableState:
      name: state
      in: query
      description: Status
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
          enum:
            - pending
            - available
            - deleting
            - deleted
            - failed
    InstanceIdForQueryAvailableZone:
      name: instance_id
      in: query
      description: Enterprise router ID
      required: false
      style: form
      explode: true
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
    FlowLogIdInPath:
      name: flow_log_id
      in: path
      description: flow log ID
      required: true
      style: simple
      explode: false
      schema:
        pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
        type: string
