openapi: 3.0.1
info:
  title: ER testing
  description: |-
    An enterprise router is a central router that interconnects all of your VPCs and on-premises networks. It uses Border Gateway Protocol (BGP) to learn routes and dynamically select or switch between connections.
    This improves network scalability, O&M efficiency, and service continuity.
  version: v3
servers:
  - url: https://enterprise.huawei.com/
tags:
  - name: EnterpriseRouterInstance
    description: "An enterprise router can work together with VPN or Direct Connect to connect VPCs to on-premises networks at Layer 3, and with Cloud Connect to connect VPCs from different regions. You can configure routes flexibly for network isolation or communication."
    x-name: Enterprise Routers
    x-publishpath: EnterpriseRouterInstance
  - name: VPCAttachment
    description: Create a VPC attachment to attach the VPC to the enterprise router.
    x-name: VPC Attachments
    x-publishpath: VPCAttachment
  - name: Attachments
    description: Create an attachment for a network instance to attach the network instance to the enterprise router.
    x-name: Attachments
    x-publishpath: Attachments
  - name: RouteTable
    description: "A route table is the basis for an enterprise router to send packets. It contains attachment associations, propagations, and routes."
    x-name: Route Tables
    x-publishpath: RouteTable
  - name: Association
    description: Each attachment only can be associated with one route table of its enterprise router for packet forwarding and route propagation.
    x-name: Associations
    x-publishpath: Association
  - name: Propagation
    description: A propagation can be created for each attachment to propagate routes to one or more route tables on an enterprise router.
    x-name: Propagations
    x-publishpath: Propagation
  - name: Route
    description: Route that contains a destination and multiple next hops (ECMP entries)
    x-name: Routes
    x-publishpath: Route
  - name: Tags
    description: Tags are used to identify cloud resources for purposes of easy categorization and quick search. You can add tags for enterprise routers and route tables.
    x-name: Tags
    x-publishpath: Tags
  - name: AvailableZone
    description: AZ
    x-name: AZs
    x-publishpath: AvailableZone
paths:
  /v3/{project_id}/enterprise-router/instances:
    get:
      tags:
        - EnterpriseRouterInstance
      summary: Querying Enterprise Routers
      description: This API is used to query enterprise routers.
      operationId: ListEnterpriseRouters
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/EnterpriseProjectIdInQuery'
        - $ref: '#/components/parameters/StateInQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/AttachmentResourceIdInQuery'
        - $ref: '#/components/parameters/OwnedBySelfInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEnterpriseRoutersResponseBody'
              example:
                instances:
                  - id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                    name: my_er
                    description: this is my first enterprise router
                    asn: 64512
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    enable_default_association: true
                    enable_default_propagation: true
                    default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                    default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                    auto_accept_shared_attachments: false
                    created_at: 2019-09-06 02:11:13Z
                    updated_at: 2019-09-06 02:11:13Z
                    tags:
                      - key: key
                        value: value
                    enterprise_project_id: 0
                    availability_zone_ids:
                      - az1
                      - az2
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
                page_info:
                  next_marker: "2"
                  current_count: 1
      deprecated: false
      x-order: 4
      x-constraint: "Parameters **marker** and **limit** are used for pagination query. The two parameters take effect only when they are used together. Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported."
      x-huawei-security:
        epsAction: list
        pdpKey: er:instances:list
        enableEProject: true
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances?limit=2&marker=1"
      x-request-examples-url-2: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances"
      x-request-examples-description-1: Querying two records in pagination
      x-request-examples-description-2: Querying all enterprise routers
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - EnterpriseRouterInstance
      summary: Creating an Enterprise Router
      description: "This API is used to create an enterprise router. If both Default Route Table Association and Default Route Table Propagation are enabled, the system will create a route table as both the default association route table and the default propagation route table."
      operationId: CreateEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnterpriseRouterRequestBody'
            example:
              instance:
                name: my_er
                description: this is my first enterprise router
                asn: 64512
                enable_default_association: true
                enable_default_propagation: true
                tags:
                  - key: key1
                    value: value1
                availability_zone_ids:
                  - az1
                  - az2
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  asn: 64512
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  auto_accept_shared_attachments: false
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                  tags:
                    - key: key1
                      value: value1
                  enterprise_project_id: 0
                  availability_zone_ids:
                    - az1
                    - az2
                request_id: 14c2b814-99dc-939a-e811-ae84c61ea3f4
      deprecated: false
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:instances:create
        enableEProject: true
      x-request-examples-description-1: Creating an enterprise router
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances"
      x-request-examples-1:
        instance:
          name: my_er
          description: this is my first enterprise router
          asn: 64512
          enable_default_association: true
          enable_default_propagation: true
          tags:
            - key: key1
              value: value1
          availability_zone_ids:
            - az1
            - az2
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
      - EnterpriseRouterInstance
      summary: Querying Details About an Enterprise Router
      description: This API is used to query details about an enterprise router.
      operationId: ShowEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  auto_accept_shared_attachments: false
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 14c2b814-99dc-939b-e81c-ae84c61ea3f7
      deprecated: false
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:instances:get
        enableEProject: true
      x-request-examples-description-1: Querying details about an enterprise router with a specified ID
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/08d5a9564a704afda6039ae2babbef3c"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - EnterpriseRouterInstance
      summary: Updating an Enterprise Router
      description: This API is used to update basic information about the enterprise router.
      operationId: UpdateEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Update enterprise router information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnterpriseRouterRequestBody'
            example:
              name: my_er
              description: this is my first enterprise router
              enable_default_propagation: true
              enable_default_association: true
              default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
              default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  auto_accept_shared_attachments: false
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 14c2b814-99dc-939b-e81c-ae84c61ea3f7
      x-order: 2
      x-constraint: Information (except name and description) can be updated only when the enterprise router is in the available state.
      x-huawei-security:
        epsAction: update
        pdpKey: er:instances:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/94c2b814-99dc-939a-e811-ae84c61ea3ff"
      x-request-examples-description-1: Update the enterprise router, enable default route table association and default route table propagation functions, and specify the corresponding route table
      x-request-examples-1:
        instance:
          enable_default_association: true
          enable_default_propagation: true
          default_propagation_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
          default_association_route_table_id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - EnterpriseRouterInstance
      summary: Deleting an Enterprise Router
      description: This API is used to delete an enterprise router.
      operationId: DeleteEnterpriseRouter
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-order: 7
      x-contraint: |-
        1. Only an enterprise router and its default route table can be deleted. If the enterprise router has other associated resources, delete these resources, including route tables, attachments, associations, propagations, and routes first.
        2. An enterprise router can be deleted only when it is in the available, deleting, or failed state. "
      x-huawei-security:
        epsAction: delete
        pdpKey: er:instances:delete
        enableEProject: true
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/94c2b814-99dc-939a-e811-ae84c61ea3ff"
      x-request-examples-description-1: Deleting an enterprise router
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - EnterpriseRouterInstance
      summary: Changing Enterprise Router AZs
      description: This API is used to change enterprise router AZs. The AZs can be changed only when the enterprise router is in the **available state**.
      operationId: ChangeAvailabilityZone
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Request body for changing enterprise router AZs
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseRouterAZ'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseRouterResponse'
              example:
                instance:
                  id: 94c2b814-99dc-939a-e811-ae84c61ea3ff
                  name: my_er
                  description: this is my first enterprise router
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  asn: 64512
                  enable_default_association: true
                  enable_default_propagation: true
                  default_association_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  default_propagation_route_table_id: 7f7f738f-453c-40b1-be26-28e7b9e390c1
                  availability_zone_ids:
                    - az1
                  created_at: 2019-09-06 02:11:13Z
                  updated_at: 2019-09-06 02:11:13Z
                request_id: 5f7f738f-453c-40b1-be26-28e7b9e390c2
      x-order: 6
      x-huawei-security:
        epsAction: update
        pdpKey: er:instances:changeAZ
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/instances/cccf35ad-fd0d-4043-aab2-dc28ae56f967/change-availability-zone-ids"
      x-request-examples-description-1: Update Availability Zones for Enterprise Routers
      x-request-examples-1:
        availability_zone_ids:
          - az1
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk"
    get:
      tags:
        - VPCAttachment
      summary: Querying VPC Attachments
      description: This API is used to query the VPC attachments of the enterprise router.
      operationId: ListVpcAttachments
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/AttachmentStateInQuery'
        - $ref: '#/components/parameters/IdInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
        - name: vpc_id
          in: query
          description: VPC id
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVPCAttachments'
              example:
                vpc_attachments:
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    name: vpc-attach-01
                    vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                    virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    name: vpc-attach-01
                    vpc_id: 4b8567f6-358f-4a7f-8cd3-3cbb82c0b25f
                    virsubnet_id: 2b55f334-a15e-43a9-ab11-b34c2dbb6fac
                    project_id: 08d5a9564a704afda6039ae2babbef3c
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                page_info:
                  next_marker: "1"
                  current_count: 2
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 4
      x-constraint: |-
        VPC attachments can be queried in the following methods:

        - Filtering query is supported. You can query by ID, state, enterprise project ID, and VPC ID. You can query multiple resources at a time or use combined criteria to query resources.
        - Pagination query is supported. You can use **limit** and **marker** together for pagination query.
        - Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported.
      x-huawei-security:
        epsAction: list
        pdpKey: er:attachments:list
        enableEProject: true
      x-request-examples-url-2: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/vpc-attachments"
      x-request-examples-description-2: Querying all VPC attachments
      x-request-examples-description-1: Querying all VPC attachments in pagination
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/vpc-attachments?limit=10"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - VPCAttachment
      summary: Creating a VPC Attachment
      description: This API is used to create a VPC attachment for an enterprise router.
      operationId: CreateVpcAttachment
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: Request body for creating a VPC attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVpcAttachmentBody'
            example:
              vpc_attachment:
                name: vpc-atta
                vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                virsubnet_id: 0605767a9980d5762fbcc00b3537e757
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  name: vpc-atta
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: pending
                  auto_create_vpc_routes: false
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:attachments:create
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ab54142-7c92-48ad-8288-77727a231052/vpc-attachments"
      x-request-examples-description-1: Creating a VPC attachment
      x-request-examples-1:
        vpc_attachment:
          name: vpc-atta
          vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
          virsubnet_id: 0605767a9980d5762fbcc00b3537e757
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - VPCAttachment
      summary: Querying Details About a VPC Attachment
      description: This API is used to query details about a VPC attachment.
      operationId: ShowVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  name: vpc-attach
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: available
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:attachments:get
        enableEProject: true
      x-request-examples-description-1: Querying details about a VPC attachment
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/212d3f0b-8496-472d-bc99-05a7c96d6655/vpc-attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - VPCAttachment
      summary: Updating a VPC Attachment
      description: This API is used to update basic information about a VPC attachment.
      operationId: UpdateVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      requestBody:
        description: Request body for updating a VPC attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVpcAttachmentRequestBody'
            example:
              vpc_attachment:
                name: new-vpc-attach
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VpcAttachmentResponseBody'
              example:
                vpc_attachment:
                  id: 3b9724e9-49ec-4d21-9191-3d703133b910
                  name: new-vpc-attach
                  vpc_id: b715e131-3371-4e17-a2de-4f669e24439a
                  virsubnet_id: 0605767a9980d5762fbcc00b3537e757
                  auto_create_vpc_routes: false
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  state: available
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 2
      x-huawei-security:
        epsAction: update
        pdpKey: er:attachments:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/f1a28dfd-186f-4625-b6b1-f05e5e8609c0/vpc-attachments/3b9724e9-49ec-4d21-9191-3d703133b910"
      x-request-examples-description-1: Updating basic information about a VPC attachment
      x-request-examples-1:
        vpc_attachment:
          name: new-vpc-attach
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - VPCAttachment
      summary: Deleting a VPC Attachment
      description: This API is used to delete a VPC attachment.
      operationId: DeleteVpcAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/VpcAttachmentIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-constraint: "A VPC attachment can be deleted only when it is in the available, deleting, or failed state."
      x-huawei-security:
        epsAction: delete
        pdpKey: er:attachments:delete
        enableEProject: true
      x-request-examples-description-1: Deleting a VPC attachment
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ba931b6-5273-4ed9-8eeb-484d16a4786f/vpc-attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/{resource_type}/tags:
    get:
      tags:
        - Tags
      summary: Querying Project Tags
      description: This API is used to query tags of resources of a specific type.
      operationId: ListProjectTags
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: resource_type
          in: path
          description: "- instance: Enterprise router\n- route-table: Route table\n- vpc-attachment: VPC attachment\n- vgw-attachment: Virtual gateway attachment\n- peering-attachment: Peering connection attachment\n- vpn-attachment: VPN gateway attachment\n- \n- \n- attachments: All attachment types"
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - instance
              - route-table
              - vpc-attachment
              - dgw-attachment
              - vgw-attachment
              - peering-attachment
              - vpn-attachment
              - can-attachment
              - ecn-attachment
              - gdgw-attachment
              - connect-attachment
              - cfw-attachment
              - attachments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectTagsResponseBody'
              example:
                tags:
                  - key: keys
                    values:
                      - value
                  - key: key3
                    values:
                      - value3
                      - value33
                  - key: key1
                    values:
                      - value1
                  - key: key2
                    values:
                      - value2
                      - value22
      deprecated: false
      x-huawei-security:
        epsAction: list
        pdpKey: er:tags:list
        enableEProject: true
      x-request-examples-description-1: Querying tags of an enterprise router
      x-request-examples-url-1: "https://{erouter_endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/tags"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/{resource_type}/{resource_id}/tags:
    get:
      tags:
        - Tags
      summary: Querying Resource Tags
      description: This API is used to query tags of resources of a specific type.
      operationId: ShowResourceTag
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: resource_id
          in: path
          description: Resource ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
        - name: resource_type
          in: path
          description: "- instance: Enterprise router\n- route-table: Route table\n- vpc-attachment: VPC attachment\n- vgw-attachment: Virtual gateway attachment\n- peering-attachment: Peering connection attachment\n- vpn-attachment: VPN gateway attachment\n- \n- \n- attachments: All attachment types"
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - instance
              - route-table
              - vpc-attachment
              - dgw-attachment
              - vgw-attachment
              - peering-attachment
              - vpn-attachment
              - can-attachment
              - ecn-attachment
              - gdgw-attachment
              - connect-attachment
              - cfw-attachment
              - attachments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowResourceTagResponseBody'
              example:
                tags:
                  - key: key2
                    value: value2
                  - key: key1
                    value: value1
                  - key: key3
                    value: value3
      deprecated: false
      x-huawei-security:
        epsAction: list
        pdpKey: er:tags:get
        enableEProject: true
      x-request-examples-description-1: Querying tags of an enterprise router
      x-request-examples-url-1: "https://{erouter_endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/f1a28dfd-186f-4625-b6b1-f05e5e8609c0/tags"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - Tags
      summary: Creating Resource Tags
      description: This API is used to create tags for resources of a specific type.
      operationId: CreateResourceTag
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: resource_id
          in: path
          description: Resource ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
        - name: resource_type
          in: path
          description: "- instance: Enterprise router\n- route-table: Route table\n- vpc-attachment: VPC attachment\n- vgw-attachment: Virtual gateway attachment\n- peering-attachment: Peering connection attachment\n- vpn-attachment: VPN gateway attachment\n- \n- \n- attachments: All attachment types"
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - instance
              - route-table
              - vpc-attachment
              - dgw-attachment
              - vgw-attachment
              - peering-attachment
              - vpn-attachment
              - can-attachment
              - ecn-attachment
              - gdgw-attachment
              - connect-attachment
              - cfw-attachment
              - attachments
      requestBody:
        description: Request body for creating resource tags
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceTagRequestBody'
            example:
              tag:
                key: key1
                value: value1
        required: true
      responses:
        "204":
          description: Created
          content:
            application/json:
              schema:
                type: string
      deprecated: false
      x-constraint: |-
        - A resource can have up to 10 tags.
        - This API is idempotent.
        - If a tag to be created has the same key as an existing tag, the tag will be created and overwrite the existing one.
      x-huawei-security:
        epsAction: create
        pdpKey: er:tags:create
        enableEProject: true
      x-request-examples-description-1: Creating tags for a resource
      x-request-examples-url-1: "POST https://{erouter-endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/3320166e-b937-40cc-a35c-02cd3f2b3ee2/tags"
      x-request-examples-1:
        tag:
          key: key1
          value: value1
      x-codegen-request-body-name: CreateResourceTagRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/{resource_type}/{resource_id}/tags/action:
    post:
      tags:
        - Tags
      summary: Add and delete resource tags in batches
      description: |-
        - Batch add or delete tags for specified instances
        - The tags management service needs to use this api to manage instance tags in batches.
        - Up to 10 tags on a resource.
      operationId: BatchCreateResourceTags
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: resource_id
          in: path
          description: resource ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
        - name: resource_type
          in: path
          description: "tag resource type:\n- instance: enterprise router instance\n- route-table: routing table\n- vpc-attachment: VPC connection\n- vgw-attachment: virtual gateway connection\n- peering-attachment: peering connection (Peering) connections\n- vpn-attachment: VPN gateway connections\n- \n- \n- \n- \n- attachments: all connection types"
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - instance
              - route-table
              - vpc-attachment
              - dgw-attachment
              - vgw-attachment
              - peering-attachment
              - vpn-attachment
              - can-attachment
              - ecn-attachment
              - gdgw-attachment
              - connect-attachment
              - cfw-attachment
              - attachments
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchOperateResourceTagsRequestBody'
        required: true
      responses:
        "204":
          description: Batch add or delete operation succeeded.
          content:
            application/json:
              schema:
                type: string
      deprecated: false
      x-huawei-security:
        epsAction: create
        pdpKey: er:tags:create
        enableEProject: true
      x-request-examples-description-1: Add resource tags in batches.
      x-request-examples-url-1: "POST https://{erouter-endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/3320166e-b937-40cc-a35c-02cd3f2b3ee2/tags/action"
      x-request-examples-1:
        action: create
        tags:
          - key: key1
            value: value1
          - key: key2
            value: value2
      x-request-examples-description-2: Delete resource tags in batches.
      x-request-examples-url-2: "POST https://{erouter-endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/3320166e-b937-40cc-a35c-02cd3f2b3ee2/tags/action"
      x-request-examples-2:
        action: delete
        tags:
          - key: key1
          - key: key2
            value: value3
      x-codegen-request-body-name: BatchCreateResourceTagsRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"

  /v3/{project_id}/{resource_type}/{resource_id}/tags/{key}:
    delete:
      tags:
        - Tags
      summary: Deleting Resource Tags
      description: This API is used to delete tags for resources of a specific type.
      operationId: DeleteResourceTag
      parameters:
        - name: key
          in: path
          description: Tag key
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: resource_id
          in: path
          description: Resource ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
        - name: resource_type
          in: path
          description: "- instance: Enterprise router\n- route-table: Route table\n- vpc-attachment: VPC attachment\n- vgw-attachment: Virtual gateway attachment\n- peering-attachment: Peering connection attachment\n- vpn-attachment: VPN gateway attachment\n- \n- \n- attachments: All attachment types"
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - instance
              - route-table
              - vpc-attachment
              - dgw-attachment
              - vgw-attachment
              - peering-attachment
              - vpn-attachment
              - can-attachment
              - ecn-attachment
              - gdgw-attachment
              - connect-attachment
              - cfw-attachment
              - attachments
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                type: string
      deprecated: false
      x-constraint: This API is idempotent. The key cannot be left blank or be an empty string.
      x-huawei-security:
        epsAction: delete
        pdpKey: er:tags:delete
        enableEProject: true
      x-request-examples-url-1: "DELETE https://{erouter-endpoint}/v3/cfa563efb77d4b6d9960781d82530fd8/instance/3320166e-b937-40cc-a35c-02cd3f2b3ee2/tags/key1"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
      - Association
      summary: Querying Route Associations
      description: This API is used to query route associations.
      operationId: ListAssociations
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/AttachmentIdInQuery'
        - $ref: '#/components/parameters/AttachmentResourceTypeInQuery'
        - name: state
          in: query
          description: Status
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - pending
                - available
                - deleting
                - deleted
                - failed
                - modifying
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssociationsResponseBody'
              example:
                associations:
                  - id: 915a14a6-867b-4af7-83d1-70efceb146f9
                    route_table_id: 91c013e2-d65a-474e-9177-c3e1799ca726
                    attachment_id: a5b7d209-dc02-4c46-a51f-805eadd3de64
                    resource_type: vpc
                    resource_id: 4e5fe97c-82bc-432e-87d8-06d7e157dffa
                    state: pending
                    created_at: 2020-03-11T15:13:31
                    updated_at: 2020-03-11T15:13:31
                    route_policy:
                      export_policy_id: ""
                page_info:
                  next_marker: "1"
                  current_count: 1
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      x-order: 2
      x-constraint: "Pagination query is supported. You can query by state, resource type, or attachment ID. Only sorting by a single field (**id**, **created_at**, or **updated_at**) is supported."
      x-huawei-security:
        epsAction: list
        pdpKey: er:associations:list
        enableEProject: true
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f5/route-tables/915a14a6-867b-4af7-83d1-70efceb146f9/associations"
      x-request-examples-description-1: Querying route table associations
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - Association
      summary: Creating a Route Association
      description: This API is used to create a route association. Each attachment only can be associated with one route table of its enterprise router for packet forwarding.
      operationId: AssociateRouteTable
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      requestBody:
        description: Association object that needs to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationRequestBody'
            example:
              attachment_id: a5b7d209-dc02-4c46-a51f-805eadd3de64
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssociateAttachmentsResponseBody'
              example:
                association:
                  id: 915a14a6-867b-4af7-83d1-70efceb146f9
                  route_table_id: 91c013e2-d65a-474e-9177-c3e1799ca726
                  attachment_id: a5b7d209-dc02-4c46-a51f-805eadd3de64
                  resource_type: vpc
                  resource_id: 4e5fe97c-82bc-432e-87d8-06d7e157dffa
                  state: pending
                  created_at: 2020-03-11T15:13:31
                  updated_at: 2020-03-11T15:13:31
                  route_policy:
                    export_policy_id: ""
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f8
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:associations:associate
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f8/route-tables/915a14a6-867b-4af7-83d1-70efceb146f9/associate"
      x-request-examples-description-1: Creating a route table association
      x-request-examples-1:
        attachment_id: a5b7d209-dc02-4c46-a51f-805eadd3de64
      x-codegen-request-body-name: AssociateRouteTableRequestBody
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - Association
      summary: Deleting a Route Association
      description: This API is used to delete an association from the route table of an enterprise router for an attachment.
      operationId: DisassociateRouteTable
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      requestBody:
        description: Association object that needs to be deleted
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssociationRequestBody'
            example:
              attachment_id: 2609ec92-ac19-4467-a527-7f9e690e7836
        required: true
      responses:
        "202":
          description: Accepted
          content: {}
      x-order: 3
      x-huawei-security:
        epsAction: delete
        pdpKey: er:associations:disassociate
        enableEProject: true
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f8/route-tables/915a14a6-867b-4af7-83d1-70efceb146f9/disassociate"
      x-request-examples-description-1: Deleting a route table association
      x-request-examples-1:
        attachment_id: 2609ec92-ac19-4467-a527-7f9e690e7836
      x-codegen-request-body-name: DisassociateRouteTableRequestBody
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/enterprise-router/route-tables/{route_table_id}/static-routes/{route_id}:
    get:
      tags:
        - Route
      summary: Querying Details About a Static Route
      description: This API is used to query details about a static route.
      operationId: ShowStaticRoute
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/RouteIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
              example:
                route:
                  id: 19d334b7-78c1-4e0e-ba29-b797e641e23c
                  type: static
                  destination: 192.168.0.0/16
                  attachments:
                    - resource_id: 9c4ab06a-0ab4-4fad-93a8-f733f3a4433d
                      resource_type: VPC
                      attachment_id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                  route_table_id: 19d334b7-78c1-4e0e-ba29-b797e641e23c
                  is_blackhole: false
                  state: pending
                  created_at: 2020-03-11T15:13:31
                  updated_at: 2020-03-11T15:13:31
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:routes:get
        enableEProject: true
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/19d334b7-78c1-4e0e-ba29-b797e641e23c/static-routes/19d334b7-78c1-4e0e-ba29-b797e641e23c"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - Route
      summary: Updating a Static Route
      description: This API is used to update a static route.
      operationId: UpdateStaticRoute
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/RouteIdInPath'
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRouteRequestBody'
            example:
              route:
                is_blackhole: false
                attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
              example:
                route:
                  id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                  type: static
                  destination: 192.168.0.0/16
                  attachments:
                    - resource_id: 9c4ab06a-0ab4-4fad-93a8-f733f3a4433d
                      resource_type: vpc
                      attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  route_table_id: 19d334b7-78c1-4e0e-ba29-b797e641e23c
                  is_blackhole: false
                  state: pending
                  created_at: 2020-03-11T15:13:31
                  updated_at: 2020-03-11T15:13:31
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 2
      x-huawei-security:
        epsAction: update
        pdpKey: er:routes:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/19d334b7-78c1-4e0e-ba29-b797e641e23c/static-routes/9b3b38a9-1c9d-4f01-9429-81af6b545289"
      x-request-examples-description-1: Modifying a static route
      x-request-examples-1:
        route:
          is_blackhole: false
          attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
      x-codegen-request-body-name: updateStaticRouteRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - Route
      summary: Deleting a Static Route
      description: This API is used to delete a static route.
      operationId: DeleteStaticRoute
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/RouteIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-order: 6
      x-huawei-security:
        epsAction: delete
        pdpKey: er:routes:delete
        enableEProject: true
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/3ddb4dc2-174e-4d43-9328-b805d5c0c774/static-routes/19d334b7-78c1-4e0e-ba29-b797e641e23c"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - RouteTable
      summary: Querying Route Tables
      description: This API is used to query route tables.
      operationId: ListRouteTables
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - name: state
          in: query
          description: Status
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - pending
                - available
                - deleting
                - deleted
                - failed
        - name: is_default_propagation_table
          in: query
          description: Whether the route table is the default propagation route table.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: is_default_association_table
          in: query
          description: Whether the route table is the default association route table.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRouteTables'
              example:
                route_tables:
                  - id: 4ab54142-7c92-48ad-8288-77727a231052
                    is_default_association: false
                    is_default_propagation: false
                    name: my-router-table1
                    description: rtb-for-a
                    state: available
                    tags:
                      - key: key
                        value: value
                  - id: 4ab54142-7c92-48ad-8288-77727a231053
                    is_default_association: false
                    is_default_propagation: false
                    name: my-router-table2
                    description: rtb-for-b
                    state: available
                    tags:
                      - key: key
                        value: value
                page_info:
                  next_marker: "1"
                  current_count: 2
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 4
      x-constraint: "Pagination query is supported. The supported query criteria are **state**, **is_default_propagation_route_table**, and **is_default_association_route_table**. Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported."
      x-huawei-security:
        epsAction: list
        pdpKey: er:routeTables:list
        enableEProject: true
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f5/route-tables"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - RouteTable
      summary: Creating a Route Table
      description: "This API is used to create a route table. A route table is the basis for an enterprise router to send and receive packets. It contains attachment associations, propagations, and routes."
      operationId: CreateRouteTable
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRouteTableRequestBody'
            example:
              route_table:
                name: my-route-table
                tags:
                  - key: key
                    value: value
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableResponse'
              example:
                route_table:
                  id: 4ab54142-7c92-48ad-8288-77727a231052
                  name: my-route-table
                  is_default_association: false
                  is_default_propagation: false
                  state: pending
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                  tags:
                    - key: key
                      value: value
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 1
      x-huawei-security:
        epsAction: create
        pdpKey: er:routeTables:create
        enableEProject: true
      x-request-examples-description-1: Creating a route table
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f0/route-tables"
      x-request-examples-1:
        route_table:
          name: my-route-table
          tags:
            - key: key
              value: value
      x-codegen-request-body-name: createRouteTableRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/enterprise-router/route-tables/{route_table_id}/static-routes:
    get:
      tags:
        - Route
      summary: Querying Static Routes
      description: This API is used to query static routes.
      operationId: ListStaticRoutes
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/DestinationInQuery'
        - $ref: '#/components/parameters/AttachmentIdInQuery'
        - $ref: '#/components/parameters/AttachmentResourceTypeInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutes'
              example:
                routes:
                  - id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                    type: static
                    destination: 192.168.0.0/16
                    attachments:
                      - resource_id: 9c4ab06a-0ab4-4fad-93a8-f733f3a4433d
                        resource_type: vpc
                        attachment_id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                    route_table_id: 19d334b7-78c1-4e0e-ba29-b797e641e23c
                    state: pending
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                page_info:
                  next_marker: "1"
                  current_count: 1
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 4
      x-constraint: "Pagination query is supported. The supported query criteria are **destination**, **attachment_id**, **resource_type**, and **type**. Only sorting by a single field (**id**, **destination**, **created_at**, or **updated_at**) is supported."
      x-huawei-security:
        epsAction: list
        pdpKey: er:routes:list
        enableEProject: true
      x-request-examples-description-1: Querying static routes
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/915a14a6-867b-4af7-83d1-70efceb146f5/static-routes"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - Route
      summary: Creating a Static Route
      description: This API is used to create a static route.
      operationId: CreateStaticRoute
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRouteRequestBody'
            example:
              route:
                destination: 192.168.0.0/16
                is_blackhole: false
                attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: Idempotence identifier
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
              example:
                route:
                  id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                  type: static
                  destination: 192.168.0.0/16
                  attachments:
                    - resource_id: 9c4ab06a-0ab4-4fad-93a8-f733f3a4433d
                      resource_type: vpc
                      attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  route_table_id: 0d1748a0-5188-11e5-b86f-a51b5f125b84
                  is_blackhole: false
                  state: pending
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 1
      x-constraint: "If **is_blackhole** is set to **false**, the **attachment_id** parameter must be carried. If **is_blackhole** is set to **true**, the **attachment_id** parameter cannot be passed."
      x-huawei-security:
        epsAction: create
        pdpKey: er:routes:create
        enableEProject: true
      x-request-examples-description-1: Creating a static route
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/0d1748a0-5188-11e5-b86f-a51b5f125b84/static-routes"
      x-request-examples-1:
        route:
          destination: 192.168.0.0/16
          is_blackhole: false
          attachment_id: b70aee08-c671-4cad-9fd5-7381d163bcc8
      x-codegen-request-body-name: createStaticRouteRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/enterprise-router/route-tables/{route_table_id}/routes:
    get:
      tags:
        - Route
      summary: Querying Valid Routes
      description: This API is used to query valid routes. Pagination query is supported.
      operationId: ListEffectiveRoutes
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/DestinationInQuery'
        - $ref: '#/components/parameters/AttachmentResourceTypeInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EffectiveRoutesResponse'
              example:
                routes:
                  - route_id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                    destination: 192.168.0.0/16
                    next_hops:
                      - resource_id: 9c4ab06a-0ab4-4fad-93a8-f733f3a4433d
                        resource_type: vpc
                        attachment_id: 9b3b38a9-1c9d-4f01-9429-81af6b545289
                    is_blackhole: false
                    route_type: static
                page_info:
                  next_marker: "1"
                  current_count: 1
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      x-order: 5
      x-huawei-security:
        epsAction: list
        pdpKey: er:routes:list
        enableEProject: true
      x-request-examples-description-1: Querying valid routes
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/route-tables/915a14a6-867b-4af7-83d1-70efceb146f9/routes"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - RouteTable
      summary: Querying Details About a Route Table
      description: This API is used to query details about a route table.
      operationId: ShowRouteTable
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableResponse'
              example:
                route_table:
                  id: 4ab54142-7c92-48ad-8288-77727a231052
                  name: my-route-table
                  description: rtb-for-a
                  is_default_association: false
                  is_default_propagation: false
                  state: available
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 3
      x-huawei-security:
        epsAction: show
        pdpKey: er:routeTables:get
        enableEProject: true
      x-request-examples-description-1: Querying details about a route table
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f6/route-tables/4ab54142-7c92-48ad-8288-77727a231052"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - RouteTable
      summary: Updating Route Table Information
      description: "This API is used to update basic information about a route table, such as the name and description."
      operationId: UpdateRouteTable
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      requestBody:
        description: Request body of a route table
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRouteTableRequestBody'
            example:
              route_table:
                name: new-rtb
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteTableResponse'
              example:
                route_table:
                  id: 4ab54142-7c92-48ad-8288-77727a231052
                  name: new-rtb
                  is_default_association: false
                  is_default_propagation: false
                  state: pending
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      x-order: 2
      x-huawei-security:
        epsAction: update
        pdpKey: er:routeTables:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/915a14a6-867b-4af7-83d1-70efceb146f5/route-tables/4ab54142-7c92-48ad-8288-77727a231052"
      x-request-examples-description-1: Update the route table information of the enterprise router, and modify the route table name to "new-rtb"
      x-request-examples-1:
        route_table:
          name: new-rtb
      x-codegen-request-body-name: UpdateRouteTableRequestBody
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - RouteTable
      summary: Deleting a Route Table
      description: This API is used to delete a route table.
      operationId: DeleteRouteTable
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/RouteTableIdInPath'
      responses:
        "202":
          description: No Content
          content: {}
      deprecated: false
      x-order: 5
      x-huawei-security:
        epsAction: delete
        pdpKey: er:routeTables:delete
        enableEProject: true
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ab54142-7c92-48ad-8288-77727a231056/route-tables/4ab54142-7c92-48ad-8288-77727a231052"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - Attachments
      summary: Querying Details About an Attachment
      description: This API is used to query details about an attachment.
      operationId: ShowAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/AttachmentIdInPath'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponseBody'
              example:
                attachment:
                  id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  name: vpc attachment
                  description: vpc prod
                  state: avaliable
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  resource_id: b715e131-3371-4e17-a2de-4f669e24439a
                  resource_type: vpc
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-order: 2
      x-huawei-security:
        epsAction: show
        pdpKey: er:attachments:get
        enableEProject: true
      x-request-examples-description-1: Querying details about an attachment
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/212d3f0b-8496-472d-bc99-05a7c96d6655/attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - Attachments
      summary: Updating an Attachment
      description: This API is used to update basic information about an attachment.
      operationId: UpdateAttachment
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/AttachmentIdInPath'
      requestBody:
        description: Request body for updating an attachment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttachmentRequestBody'
            example:
              attachment:
                name: attachment
                description: attachment
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponseBody'
              example:
                attachment:
                  id: b70aee08-c671-4cad-9fd5-7381d163bcc8
                  name: attachment
                  description: attachment
                  state: avaliable
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2020-03-11T15:13:31Z
                  project_id: 08d5a9564a704afda6039ae2babbef3c
                  resource_id: b715e131-3371-4e17-a2de-4f669e24439a
                  resource_type: vpc
                  resource_project_id: 0605767a9980d5762fbcc00b3537e757
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      x-order: 1
      x-huawei-security:
        epsAction: update
        pdpKey: er:attachments:update
        enableEProject: true
      x-request-examples-description-1: Updating basic information about an attachment
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/212d3f0b-8496-472d-bc99-05a7c96d6655/attachments/b70aee08-c671-4cad-9fd5-7381d163bcc8"
      x-request-examples-1:
        attachment:
          name: attachment
          description: attachment
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - Attachments
      summary: Querying Attachments
      description: This API is used to query the attachments of the enterprise router.
      operationId: ListAttachments
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/AttachmentStateInQuery'
        - $ref: '#/components/parameters/AttachmentResourceTypeInQuery'
        - $ref: '#/components/parameters/AttachmentResourceIdInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttachments'
              example:
                attachments:
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    name: vpc-001
                    description: vpc attachment
                    resource_id: b715e131-3371-4e17-a2de-4f669e24439a
                    resource_type: vpc
                    project_id: 0605767a9980d5762fbcc00b3537e757
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                  - id: 6f83b848-8331-4271-ac0c-ef94b7686403
                    name: vpc-002
                    description: for test
                    resource_id: 4b8567f6-358f-4a7f-8cd3-3cbb82c0b25f
                    resource_type: vpc
                    project_id: 0605767a9980d5762fbcc00b3537e757
                    state: available
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2020-03-11T15:13:31Z
                page_info:
                  next_marker: "1"
                  current_count: 2
                request_id: b715e131-3371-4e17-a2de-4f669e24439a
      deprecated: false
      x-order: 3
      x-constraint: |-
        1. Filtering query is supported. The filtering criteria include **state**, **resource_type**, and **resource_id**. You can query multiple resources at a time or use combined criteria to query resources.
        2. Pagination query is supported. You can use **limit** and **marker** together for pagination query.
        3. Only sorting by a single field (**id**, **name**, **description**, **created_at**, or **updated_at**) is supported.
      x-huawei-security:
        epsAction: list
        pdpKey: er:attachments:list
        enableEProject: true
      x-request-examples-description-1: Querying attachments.
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/4ab54142-7c92-48ad-8288-77727a231052/attachments"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - Attachments
      summary: Accept creating shared attachment
      description: "Accept creating shared attachment"
      operationId: AcceptAttachment
      x-huawei-security:
        epsAction: update
        pdpKey: er:attachments:accept
        enableEProject: true
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/AttachmentIdInPath'
      responses:
        202:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponseBody'
              example:
                attachment:
                  id: 6f83b848-8331-4271-ac0c-ef94b7686402,
                  name: vpc attachment,
                  description: VPC attachment,
                  state: avaliable
                  created_at: "2020-03-11T15:13:31Z"
                  updated_at: "2020-03-11T15:13:31Z"
                  tags:
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_id: b715e131-3371-4e17-a2de-4f669e24439a
                  resource_type: VPC
                  resource_project_id: 0605767a9980d5762fbcc00b3537e751
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-request-examples-description-1: Accept creating attachment
      x-request-examples-url-1: POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/6f83b848-8331-4271-ac0c-ef94b7686402/attachments/6f83b848-8331-4271-ac0c-ef94b7686401/accept
      x-support-sdk: Y
      x-is-registered: Y
      x-open-region-cloud: hc,hk,dt,ctc
    post:
      tags:
        - Attachments
      summary: Reject creating shared attachment
      description: "Reject creating shared attachment"
      operationId: RejectAttachment
      x-huawei-security:
        epsAction: update
        pdpKey: er:attachments:reject
        enableEProject: true
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/AttachmentIdInPath'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentResponseBody'
              example:
                attachment:
                  id: 6f83b848-8331-4271-ac0c-ef94b7686402,
                  name: vpc attachment,
                  description: VPC attachment,
                  state: avaliable
                  created_at: "2020-03-11T15:13:31Z"
                  updated_at: "2020-03-11T15:13:31Z"
                  tags:
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_id: b715e131-3371-4e17-a2de-4f669e24439a
                  resource_type: VPC
                  resource_project_id: 0605767a9980d5762fbcc00b3537e751
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-request-examples-description-1: Reject creating attachment
      x-request-examples-url-1: POST https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/6f83b848-8331-4271-ac0c-ef94b7686402/attachments/6f83b848-8331-4271-ac0c-ef94b7686401/reject
      x-support-sdk: Y
      x-is-registered: Y
      x-open-region-cloud: hc,hk,dt,ctc
  /v3/{project_id}/enterprise-router/quotas:
    get:
      tags:
        - QuotaManager
      summary: query quota
      description: Query the usage of various resources of tenants, such as the usage of enterprise routers and the usage of VPC attachments.
      operationId: ShowQuotas
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: type
          in: query
          description: |-
            Quota types that support filtering:
            - er_instance: Quotas and usage for enterprise router instances
            - dc_attachment: Quotas and usage for dc attachment
            - vpc_attachment: Quotas and usage for vpc attachment
            - vpn_attachment: Quotas and usage for vpn attachment
            - peering_attachment: Quotas and usage for peering attachment
            - can_attachment: Quotas and usage for can attachment
            - route_table: Quotas and usage for route table
            - static_route: Quotas and usage for static route
            - vpc_er: The number of enterprise routers that each vpc can access and the current usage
            - flow_log: The number of flow logs that can be created per attachment
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: erId
          in: query
          description: enterprise router ID
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/UUIDS'
        - name: routeTableId
          in: query
          description: route table ID
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/UUIDS'
        - name: vpcId
          in: query
          description: VPC ID
          required: false
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/UUIDS'
      responses:
        "200":
          description: Query quota successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowQuotasResponseBody'
              example:
                quotas:
                - quota_key: er_instance
                  quota_limit: 1
                  used: 0
                  unit: count
      x-huawei-security:
        epsAction: list
        pdpKey: er:quotas:list
        enableEProject: true
      x-request-examples-description-1: Query quota information
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/08d5a9564a704afda6039ae2babbef3c/enterprise-router/quotas"
      x-support-sdk: "Y"
      x-is-registered: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
  /v3/{project_id}/enterprise-router/availability-zones:
    get:
      tags:
        - AvailableZone
      summary: Querying AZs
      description: This API is used to query AZs where enterprise routers can be created. An enterprise router can be created only when an AZ is in the available state.
      operationId: ListAvailabilityZone
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - name: instance_id
          in: query
          description: Enterprise router ID
          required: false
          style: form
          explode: true
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
      responses:
        "200":
          description: AZs queried successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableZonesBody'
              example:
                availability_zones:
                  - code: az1
                    state: available
                  - code: az2
                    state: unavailable
      deprecated: false
      x-order: 1
      x-request-examples-description-1: Querying AZs
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/availability-zones"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - FlowLog
      summary: Query the flow log list
      description: Query the flow log list under the enterprise router instance
      operationId: ListFlowLogs
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - $ref: '#/components/parameters/FlowLogResourceTypeInQuery'
        - $ref: '#/components/parameters/FlowLogResourceIdInQuery'
        - $ref: '#/components/parameters/LimitInQuery'
        - $ref: '#/components/parameters/MarkerInQuery'
        - $ref: '#/components/parameters/SortKeyInQuery'
        - $ref: '#/components/parameters/SortDirInQuery'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFlowLogResponseBody'
              example:
                flow_logs:
                  - id: b216bc1d-5963-41a7-89f9-779a5128c5ac
                    name: flow_log
                    project_id: 0605767a9980d5762fbcc00b3537e757
                    domain_id: 0605767a9980d5762fbcc00b3537e757
                    resource_type: attachment
                    resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                    log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                    log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                    log_store_type: LTS
                    log_aggregation_interval: 600
                    created_at: 2020-03-11T15:13:31Z
                    updated_at: 2022-03-11T15:13:31Z
                    state: available
                    enabled: true
                    description: ER flow log
                page_info:
                  next_marker: "1"
                  current_count: 1
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-constraint: |-
        - Support filter query, filter conditions include resource_type, resource_id, enterprise_project_id filter conditions can be repeated and combined.
        - Support pagination query, the combination of limit and marker realizes pagination query.
        - Support single-field sorting function, the sorting fields are [id, name, state], does not support multi-field sorting.
      x-huawei-security:
        epsAction: list
        pdpKey: er:flowLogs:list
        enableEProject: true
      x-request-examples-description-1: Query the flow log list
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/a43c55e9-4911-4030-90e1-5c2bf6ae6fe2/flow-logs"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - FlowLog
      summary: Create a flow log
      description: Create flow logs for ER instances.
      operationId: CreateFlowLog
      parameters:
        - $ref: '#/components/parameters/XClientTokenInHeader'
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
      requestBody:
        description: The request body of create flow logs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlowLogRequestBody'
            example:
              flow_log:
                name: flow-log
                description: flow log test
                resource_type: attachment
                resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                log_store_type: LTS
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            X-Client-Token:
              description: idempotent
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlowLogResponseBody'
              example:
                flow_log:
                  id: b216bc1d-5963-41a7-89f9-779a5128c5ac
                  name: flow_log
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_type: attachment
                  resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                  log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                  log_store_type: LTS
                  log_aggregation_interval: 600
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2022-03-11T15:13:31Z
                  state: available
                  enabled: true
                  description: ER flow logs
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-huawei-security:
        epsAction: create
        pdpKey: er:flowLogs:create
        enableEProject: true
      x-request-examples-description-1: Create flow logs
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/a43c55e9-4911-4030-90e1-5c2bf6ae6fe2/flow-logs"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    get:
      tags:
        - FlowLog
      summary: Querying Flow Log Details
      description: Querying Flow Log Details
      operationId: ShowFlowLog
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - name: flow_log_id
          in: path
          description: flow log ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlowLogResponseBody'
              example:
                flow_log:
                  id: b216bc1d-5963-41a7-89f9-779a5128c5ac
                  name: flow_log
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_type: attachment
                  resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                  log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                  log_store_type: LTS
                  log_aggregation_interval: 600
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2022-03-11T15:13:31Z
                  state: available
                  enabled: true
                  description: ER flow logs
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-huawei-security:
        epsAction: show
        pdpKey: er:flowLogs:get
        enableEProject: true
      x-request-examples-description-1: Querying Flow Log Details
      x-request-examples-url-1: "GET https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/a43c55e9-4911-4030-90e1-5c2bf6ae6fe2/flow-logs/b216bc1d-5963-41a7-89f9-779a5128c5ac"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    put:
      tags:
        - FlowLog
      summary: Update the basic information of the flow log
      description: Update the basic information of the flow log
      operationId: UpdateFlowLog
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - name: flow_log_id
          in: path
          description: flow log ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
      requestBody:
        description: The request body of update flow log information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFlowLogRequestBody'
            example:
              name: flow_log_update
              description: flow log update test
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlowLogResponseBody'
              example:
                flow_log:
                  id: b216bc1d-5963-41a7-89f9-779a5128c5ac
                  name: flow_log_update
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_type: attachment
                  resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                  log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                  log_store_type: LTS
                  log_aggregation_interval: 600
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2022-03-11T15:13:31Z
                  state: available
                  enabled: true
                  description: flow log update test
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-huawei-security:
        epsAction: update
        pdpKey: er:flowLogs:update
        enableEProject: true
      x-request-examples-url-1: "PUT https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/6f83b848-8331-4271-ac0c-ef94b7686402/flow_logs/b216bc1d-5963-41a7-89f9-779a5128c5ac"
      x-request-examples-description-1: update flow log
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    delete:
      tags:
        - FlowLog
      summary: Delete flow log
      description: Delete flow log
      operationId: DeleteFlowLog
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - name: flow_log_id
          in: path
          description: flow log ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
      responses:
        "202":
          description: Accepted
          content: {}
      deprecated: false
      x-constraint: Flow logs can only be deleted when the state is available, deleting or failed.
      x-huawei-security:
        epsAction: delete
        pdpKey: er:flowLogs:delete
        enableEProject: true
      x-request-examples-description-1: delete flow log
      x-request-examples-url-1: "DELETE https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/6f83b848-8331-4271-ac0c-ef94b7686402/flow_logs/b216bc1d-5963-41a7-89f9-779a5128c5ac"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - FlowLog
      summary: enable flow log
      description: enable flow log
      operationId: EnableFlowLog
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - name: flow_log_id
          in: path
          description: flow log ID
          required: true
          style: simple
          explode: false
          schema:
            pattern: "[0-9a-fA-F]{8}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{4}\\-[0-9a-fA-F]{12}"
            type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowFlowLogResponseBody'
              example:
                flow_log:
                  id: b216bc1d-5963-41a7-89f9-779a5128c5ac
                  name: flow_log_update
                  project_id: 0605767a9980d5762fbcc00b3537e757
                  resource_type: attachment
                  resource_id: 6f83b848-8331-4271-ac0c-ef94b7686402
                  log_group_id: 0139393c-eeb2-49f0-bbd4-c5faec6b1497
                  log_stream_id: d22c3b44-2f71-470f-83f3-96a8af6956ad
                  log_store_type: LTS
                  log_aggregation_interval: 600
                  created_at: 2020-03-11T15:13:31Z
                  updated_at: 2022-03-11T15:13:31Z
                  state: available
                  enabled: true
                  description: ER flow log
                request_id: 915a14a6-867b-4af7-83d1-70efceb146f9
      deprecated: false
      x-huawei-security:
        epsAction: update
        pdpKey: er:flowLogs:enable
        enableEProject: true
      x-request-examples-description-1: enable flow log
      x-request-examples-url-1: "POST https://{erouter_endpoint}/v3/0605767a9980d5762fbcc00b3537e757/enterprise-router/a43c55e9-4911-4030-90e1-5c2bf6ae6fe2/flow-logs/b216bc1d-5963-41a7-89f9-779a5128c5ac/enable"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-open-region-cloud: "hc,hk,dt,ctc"
    post:
      tags:
        - FlowLog
      summary: disable flow log
      description: disable flow log
      operationId: DisableFlowLog
      parameters:
        - $ref: '#/components/parameters/ProjectIdInPath'
        - $ref: '#/components/parameters/ErIdInPath'
        - name: flow_log_id
[...]
