openapi: 3.0.1
info:
  title: SMN testing
  description: External Open API
  version: v2
servers:
- url: https://smn.cn-north-7.myhuaweicloud.com/
tags:
- name: Topics
  description: ""
- name: Subscriptions
  description: ""
- name: Templates
  description: ""
- name: Message Publishing
  description: ""
- name: Tags
  description: ""
- name: Version Querying
  description: ""
paths:
  /:
    get:
      tags:
      - Version Querying
      summary: Querying All SMN API Versions
      description: This API is used to list all SMN API versions.
      operationId: ListVersions
      parameters:
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListVersionsResponseBody'
            application/json:
              example:
                versions:
                  id: v2
                  links:
                  - href: https://127.0.0.1/v2
                    rel: self
                  min_version: ""
                  status: CURRENT
                  updated: 2018-09-19T00:00:00Z
                  version: ""
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying all SMN API versions
      x-request-examples-description-1: ""
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2:
    get:
      tags:
      - Version Querying
      summary: Querying the SMN API v2 Version
      description: This API is used to query the version of SMN API v2.
      operationId: ListVersion
      parameters:
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListV2VersionResponseBody'
            application/json:
              example:
                version:
                  id: v2
                  links:
                  - href: https://127.0.0.1/v2
                    rel: self
                  min_version: ""
                  status: CURRENT
                  updated: 2018-09-19T00:00:00Z
                  version: ""
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying the SMN API v2 version
      x-request-examples-description-1: ""
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/topics:
    get:
      tags:
      - Topics
      summary: Querying Topics
      description: "This API is used to query topics by page. The topics are sorted\
        \ by creation time in descending order. You can specify offset and limit.\
        \ If no topic has been created, an empty list is returned."
      operationId: ListTopics
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: offset
        in: query
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        schema:
          type: integer
          default: 100
      - name: enterprise_project_id
        in: query
        description: Specifies the enterprise project ID.
        schema:
          type: string
      - name: name
        in: query
        description: "Specifies the name of the topic to be searched for, which must\
          \ be fully matched."
        schema:
          type: string
      - name: fuzzy_name
        in: query
        description: Specifies the name of the topic to be searched. Fuzzy matching
          is used.
        allowEmptyValue: true
        schema:
          pattern: "^[-_a-zA-Z0-9]{0,255}$"
          type: string
      - name: topic_id
        in: query
        description: Specifies the topic ID for exact search.
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      - name: fuzzy_display_name
        in: query
        description: Specifies the display name of the topic to be searched. Fuzzy
          matching is used. The display name cannot exceed 192 bytes.
        allowEmptyValue: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTopicsResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                topic_count: 1
                topics:
                - topic_urn: urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_topic_v2
                  display_name: testtest
                  name: test_topic_v1
                  push_policy: 0
                  enterprise_project_id: "0"
                  topic_id: 84698185946d44d08431aa441d8e2cf2
                  create_time: 2016-08-02T08:22:18Z
                  update_time: 2016-08-02T08:22:18Z
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying topics
      x-request-examples-description-1: Querying topics
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics?offset=0&limit=100"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    post:
      tags:
      - Topics
      summary: Creating a Topic
      description: |-
        This API is used to create a topic. Each user can create up to 3,000 topics. In high-concurrent scenarios, a user may create a few topics more than 3,000.
        The API is idempotent. It returns a successful result after creating a topic. If a topic of the same name already exists, the status code is 200. Otherwise, the status code is 201.
      operationId: CreateTopic
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateTopicRequestBody'
        required: true
      responses:
        "201":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateTopicResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                topic_urn: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Creating a topic
      x-request-examples-description-1: Creating a topic with the name of **test_topic_v2**
        and display name of **testtest**
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics"
      x-request-examples-1:
        name: test_topic_v2
        display_name: testtest
      x-request-examples-text-1: |-
        {
          "name": "test_topic_v2",
          "display_name": "testtest"
        }
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: CreateTopicRequestBody
  /v2/{project_id}/notifications/topics/{topic_urn}:
    get:
      tags:
      - Topics
      summary: Querying Details About a Topic
      description: This API is used to query details about a topic.
      operationId: ListTopicDetails
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTopicDetailsResponseBody'
            application/json:
              example:
                update_time: 2016-08-01T02:16:38Z
                push_policy: 0
                create_time: 2016-08-01T02:16:38Z
                name: test_create_topic_v2
                topic_urn: urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2
                display_name: test create topic v2
                request_id: 6837531fd3f54550927b930180a706bf
                enterprise_project_id: "0"
                topic_id: 84698185946d44d08431aa441d8e2cf2
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying details about a topic
      x-request-examples-description-1: Querying details about a topic
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    put:
      tags:
      - Topics
      summary: Updating a Topic
      description: This API is used to update the topic display name.
      operationId: UpdateTopic
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateTopicRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateTopicResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Updating a topic
      x-request-examples-description-1: Modifying the display name of the topic named
        **test_topic_v2** to **testtest222**
      x-request-examples-url-1: "PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      x-request-examples-1:
        display_name: testtest222
      x-request-examples-text-1: |-
        {
          "display_name": "testtest222"
        }
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: UpdateTopicRequestBody
    delete:
      tags:
      - Topics
      summary: Deleting a Topic
      description: This API is used to delete a topic.
      operationId: DeleteTopic
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteTopicResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Deleting a topic
      x-request-examples-description-1: Deleting a topic
      x-request-examples-url-1: "DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/topics/{topic_urn}/attributes:
    get:
      tags:
      - Topics
      summary: Querying a Topic Policy
      description: This API is used to query a topic policy.
      operationId: ListTopicAttributes
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: name
        in: query
        description: "Specifies the topic policy name.Only specified policy names\
          \ are supported. For details, see [Topic Attribute List](smn_api_a1000.xml)."
        schema:
          type: string
        example: access_policy
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTopicAttributesResponseBody'
            application/json:
              example:
                request_id: 6837531fd3f54550927b930180a706bf
                attributes:
                  access_policy: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\"\
                    ,\"Statement\":[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\"\
                    ,\"Principal\":[{\"CSP\":[\"urn:csp:iam::93dc1b4697ac493d9b7d089569f86b32:root\"\
                    ]}],\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\"\
                    :\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"},{\"\
                    Sid\":\"__org_path_pub_0\",\"Effect\":\"Allow\",\"Principal\"\
                    :{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"\
                    ]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\"\
                    :\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"},{\"\
                    Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"\
                    Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"\
                    ],\"Resource\":\"urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:aaa\"\
                    }]}"
                  create_time: 2016-08-01T02:16:38
                  update_time: 2016-08-01T02:16:38
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying a topic policy
      x-request-examples-description-1: Querying a topic policy
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:8bad8a40e0f7462f8c1676e3f93a8183:test_create_topic_v2/attributes?name=access_policy"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    delete:
      tags:
      - Topics
      summary: Deleting All Topic Policies
      description: This API is used to delete all topic policies.
      operationId: DeleteTopicAttributes
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteTopicAttributesResponseBody'
            application/json:
              example:
                request_id: 6837531fd3f54550927b930180a706bf
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Deleting all topic policies
      x-request-examples-description-1: Deleting all topic policies
      x-request-examples-url-1: "DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/topics/{topic_urn}/attributes/{name}:
    put:
      tags:
      - Topics
      summary: Updating a Topic Policy
      description: This API is used to update a topic policy.
      operationId: UpdateTopicAttribute
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: name
        in: path
        description: "Specifies the topic policy name.Only specified policy names\
          \ are supported. For details, see [Topic Attribute List](smn_api_a1000.xml)."
        required: true
        schema:
          type: string
        example: access_policy
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        description: This is a auto create Body Object
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateTopicAttributeRequestBody'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateTopicAttributeResponseBody'
            application/json:
              example:
                request_id: 6837531fd3f54550927b930180a706bf
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Updating a topic policy
      x-request-examples-description-1: Updating a topic policy
      x-request-examples-url-1: "PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/access_policy"
      x-request-examples-1:
        value: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\",\"Statement\"\
          :[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"CSP\"\
          :[\"urn:csp:iam::{domainID}:root\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"\
          ],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__org_path_pub_0\",\"Effect\"\
          :\"Allow\",\"Principal\":{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"\
          ]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"\
          {topic_urn}\"},{\"Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\"\
          :{\"Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"\
          ],\"Resource\":\"{topic_urn}\"}]}"
      x-request-examples-text-1:
        value: "{\"Version\":\"2016-09-07\",\"Id\":\"__default_policy_ID\",\"Statement\"\
          :[{\"Sid\":\"__user_pub_0\",\"Effect\":\"Allow\",\"Principal\":{\"CSP\"\
          :[\"urn:csp:iam::{domainID}:root\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"\
          ],\"Resource\":\"{topic_urn}\"},{\"Sid\":\"__org_path_pub_0\",\"Effect\"\
          :\"Allow\",\"Principal\":{\"OrgPath\":[\"o-bf966fe82ebb4d35d68b791729228788/r-001ebf32880a13eabfc8e1c37eee3ae9/ou-0dbfffe92fd92ddb35feff9b4079459c\"\
          ]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"],\"Resource\":\"\
          {topic_urn}\"},{\"Sid\":\"__service_pub_0\",\"Effect\":\"Allow\",\"Principal\"\
          :{\"Service\":[\"obs\"]},\"Action\":[\"SMN:Publish\",\"SMN:QueryTopicDetail\"\
          ],\"Resource\":\"{topic_urn}\"}]}"
      x-request-examples-description-2: Updating a topic policy
      x-request-examples-url-2: "PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/introduction"
      x-request-examples-2:
        value: ""
      x-request-examples-text-2:
        value: ""
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: UpdateTopicAttributeRequestBody
    delete:
      tags:
      - Topics
      summary: Deleting a Specified Topic Policy
      description: This API is used to delete a specified topic policy.
      operationId: DeleteTopicAttributeByName
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: name
        in: path
        description: "Specifies the topic policy name.Only specified policy names\
          \ are supported. For details, see [Topic Attribute List](smn_api_a1000.xml)."
        required: true
        schema:
          type: string
        example: introduction
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteTopicAttributeByNameResponseBody'
            application/json:
              example:
                request_id: 6837531fd3f54550927b930180a706bf
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Deleting a specified topic policy
      x-request-examples-description-1: Deleting a specified topic policy
      x-request-examples-url-1: "DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/{topic_urn}/attributes/access_policy"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/subscriptions:
    get:
      tags:
      - Subscriptions
      summary: Querying Subscriptions
      description: "This API is used to query the list of all subscriptions by page.\
        \ The list is sorted by subscription adding time in ascending order. You can\
        \ specify offset and limit. If no subscription has been added to the topic,\
        \ an empty list is returned."
      operationId: ListSubscriptions
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: offset
        in: query
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        schema:
          type: integer
          default: 100
      - name: protocol
        in: query
        description: "Specifies the protocol name. The enumerated values are http,\
          \ https, sms, email, functionstage."
        schema:
          type: string
      - name: status
        in: query
        description: |-
          Specifies the subscription status.
          0: The subscription has not been confirmed.
          1: The subscription has been confirmed.
          2: Confirmation is not required.
          3: The subscription was canceled.
          4: The subscription was deleted.
        schema:
          type: integer
      - name: endpoint
        in: query
        description: Specifies the subscription endpoint.
        schema:
          type: string
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      - name: fuzzy_remark
        in: query
        description: Specifies the subscription remark for fuzzy match. The value
          can contain up to 128 bytes.
        allowEmptyValue: true
        schema:
          pattern: "^[^+]$"
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSubscriptionsResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                subscription_count: 2
                subscriptions:
                - topic_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                  protocol: sms
                  subscription_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
                  owner: 762bdb3251034f268af0e395c53ea09b
                  endpoint: xxxxxxxxxxx
                  remark: ""
                  status: 0
                  filter_polices:
                  - name: alarm
                    string_equals:
                    - os
                    - process
                  - name: service
                    string_equals:
                    - api
                    - db
                - topic_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                  protocol: email
                  subscription_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:a2d52a9f5c3b47f48c3fafb177a58796
                  owner: 762bdb3251034f268af0e395c53ea09b
                  endpoint: xx@example.com
                  remark: ""
                  status: 0
                  filter_polices:
                  - name: alarm
                    string_equals:
                    - os
                    - process
                  - name: service
                    string_equals:
                    - api
                    - db
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying subscriptions
      x-request-examples-description-1: Querying subscriptions
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/subscriptions?offset=0&limit=2"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/topics/{topic_urn}/subscriptions:
    get:
      tags:
      - Subscriptions
      summary: Querying Subscriptions of a Specified Topic
      description: "This API is used to query subscriptions to a specified topic by\
        \ page. The list is sorted by subscription adding time in ascending order.\
        \ You can specify offset and limit. If no subscription has been added to the\
        \ topic, an empty list is returned."
      operationId: ListSubscriptionsByTopic
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: offset
        in: query
        description: |-
          Specifies the offset.

          If the offset is an integer greater than 0 but less than the number of resources, all resources in excess of this offset will be queried. The default offset is 0.
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          Specifies the maximum number of records in each query.

          The number ranges from 1 to 100 and is generally 10, 20, or 50. Specifies the number of resources returned on each page. The default number is 100.
        schema:
          type: integer
          default: 100
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      - name: fuzzy_remark
        in: query
        description: Specifies the subscription remark for fuzzy match. The value
          can contain up to 128 bytes.
        schema:
          pattern: "^[^+]$"
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListSubscriptionsResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                subscription_count: 2
                subscriptions:
                - topic_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                  protocol: sms
                  subscription_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
                  owner: 762bdb3251034f268af0e395c53ea09b
                  endpoint: xxxxxxxxxxx
                  remark: ""
                  status: 0
                  filter_polices:
                  - name: alarm
                    string_equals:
                    - os
                    - process
                  - name: service
                    string_equals:
                    - api
                    - db
                - topic_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1
                  protocol: email
                  subscription_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:a2d52a9f5c3b47f48c3fafb177a58796
                  owner: 762bdb3251034f268af0e395c53ea09b
                  endpoint: xx@example.com
                  remark: ""
                  status: 0
                  filter_polices:
                  - name: alarm
                    string_equals:
                    - os
                    - process
                  - name: service
                    string_equals:
                    - api
                    - db
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying subscriptions of a specified topic
      x-request-examples-description-1: Querying subscriptions of the topic named
        **test_topic_v2**
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1/subscriptions?offset=0&limit=100"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    post:
      tags:
      - Subscriptions
      summary: Adding a Subscription
      description: "This API is used to add a subscription to a specified topic. If\
        \ the status of the subscription is unconfirmed, a confirmation message is\
        \ sent to the subscriber. After confirming the subscription, the subscriber\
        \ can receive notification messages published to the topic. By default, 10,000\
        \ subscriptions can be added to a topic. However, in rare high-concurrency\
        \ scenarios, extra subscriptions may be added successfully. The API is idempotent.\
        \ If the added subscription already exists, a successful result and status\
        \ code 200 are returned. Otherwise, the status code is 201."
      operationId: AddSubscription
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AddSubscriptionRequestBody'
        required: false
      responses:
        "201":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AddSubscriptionResponseBody'
            application/json:
              example:
              - request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                subscription_urn: urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OpenAPIFailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Adding a Subscription
      x-request-examples-description-1: Adding a subscription to the topic named **test_topic_v1**
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1/subscriptions"
      x-request-examples-1:
        protocol: email
        endpoint: xxx@example.com
        remark: O&M
      x-request-examples-text-1:
        protocol: email
        endpoint: xxx@example.com
        remark: O&M
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: AddSubscriptionRequestBody
  /v2/{project_id}/notifications/subscriptions/{subscription_urn}:
    delete:
      tags:
      - Subscriptions
      summary: Deleting a Subscription
      description: This API is used to delete a specified subscription.
      operationId: CancelSubscription
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: subscription_urn
        in: path
        description: "Specifies the resource identifier of the subscriber, which is\
          \ unique. To obtain the resource identifier, see [Query Subscriptions](ListSubscriptions.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:br-iaas-odin1:0605767e0a00d5762fe7c00d0e33345c:chen_test:09be84d54d9f4ee3a0ef7d7562f1db2d
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CancelSubscriptionResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Deleting a subscription
      x-request-examples-description-1: Deleting a subscription with the URN **urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837**
      x-request-examples-url-1: "DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/subscriptions/urn:smn:regionId:762bdb3251034f268af0e395c53ea09b:test_topic_v1:2e778e84408e44058e6cbc6d3c377837"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/message_template:
    get:
      tags:
      - Templates
      summary: Querying Message Templates
      description: "This API is used to query the template list by page. The list\
        \ is sorted by template creation time in ascending order. You can specify\
        \ offset and limit. If no template has been created, an empty list is returned.\
        \ The parameters message_template_name and protocol are added."
      operationId: ListMessageTemplates
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: offset
        in: query
        description: "Specifies the offset. If the offset is an integer greater than\
          \ 0 but less than the number of resources, all resources in excess of this\
          \ offset will be queried. The default offset is 0."
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "The number ranges from 1 to 100 and is generally 10, 20, or\
          \ 50. Specifies the number of resources returned on each page. The default\
          \ number is 100."
        schema:
          type: integer
          default: 100
      - name: message_template_name
        in: query
        description: |-
          Specifies the template name.

          Enter 1 to 64 characters, and start with a letter or digit. Only letters, digits, hyphens (-), and underscores (_) are allowed.
        schema:
          type: string
        example: test1
      - name: protocol
        in: query
        description: |-
          Specifies the protocol supported by the template.

          The following protocols are supported:

          default

          email

          sms

          functionstage

          http and https
        schema:
          type: string
        example: email
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListMessageTemplatesResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                message_template_count: 3
                message_templates:
                - message_template_name: confirm_message
                  protocol: sms
                  update_time: 2016-08-02T08:22:18Z
                  create_time: 2016-08-02T08:22:18Z
                  tag_names:
                  - topic_urn
                  message_template_id: 79227dfdf88d4e52a1820ca1eb411635
                - message_template_name: confirm_message
                  protocol: email
                  update_time: 2016-08-02T08:22:19Z
                  create_time: 2016-08-02T08:22:19Z
                  tag_names:
                  - topic_id
                  message_template_id: ecf63465804a4b10a0573980be78ffba
                - message_template_name: confirm_message
                  protocol: https
                  update_time: 2016-08-02T08:22:20Z
                  create_time: 2016-08-02T08:22:20Z
                  tag_names:
                  - topic_id
                  message_template_id: 57ba8dcecda844878c5dd5815b65d10f
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying message templates
      x-request-examples-description-1: Querying message templates
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template?offset=0&limit=2&message_template_name=test1&protocol=email"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    post:
      tags:
      - Templates
      summary: Creating a Message Template
      description: |-
        This API is used to create a message template for quick message sending and reduced request data volume.
        By default, a user can create a maximum of 100 message templates. However, in rare high-concurrency scenarios, extra templates may be successfully created.
      operationId: CreateMessageTemplate
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateMessageTemplateRequestBody'
        required: false
      responses:
        "201":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateMessageTemplateResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                message_template_id: 57ba8dcecda844878c5dd5815b65d10f
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Creating a message template
      x-request-examples-description-1: Creating an HTTPS message template with the
        name of **confirm_message**
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template"
      x-request-examples-1:
        message_template_name: confirm_message
        protocol: https
        content: "(1/2)You are invited to subscribe to topic({topic_id}). Click the\
          \ following URL to confirm subscription:(If you do not want to subscribe\
          \ to this topic, ignore this message.)"
      x-request-examples-text-1:
        message_template_name: confirm_message
        protocol: https
        content: "(1/2)You are invited to subscribe to topic({topic_id}). Click the\
          \ following URL to confirm subscription:(If you do not want to subscribe\
          \ to this topic, ignore this message.)"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: CreateMessageTemplateRequestBody
  /v2/{project_id}/notifications/message_template/{message_template_id}:
    get:
      tags:
      - Templates
      summary: Querying Details About a Message Template
      description: "This API is used to query template details, including the template\
        \ content."
      operationId: ListMessageTemplateDetails
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: message_template_id
        in: path
        description: "Specifies the unique resource ID of a template. To obtain the\
          \ ID, see [Querying Message Templates](ListMessageTemplates.xml)."
        required: true
        schema:
          type: string
        example: 79227dfdf88d4e52a1820ca1eb411635
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListMessageTemplateDetailsResponseBody'
            application/json:
              example:
                message_template_id: 57ba8dcecda844878c5dd5815b65d10f
                message_template_name: confirm_message
                protocol: https
                tag_names:
                - topic_id_id4
                create_time: 2016-08-02T08:22:20Z
                update_time: 2016-08-02T08:22:25Z
                content: "(1/24)You are invited to subscribe to topic({topic_id_id4}).\
                  \ Click the following URL to confirm subscription:(If you do not\
                  \ want to subscribe to this topic, ignore this message.)"
                request_id: ba79ca8f794f4f50985ce7b98a401b47
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying details about a message template
      x-request-examples-description-1: Querying details about a message template
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/57ba8dcecda844878c5dd5815b65d10f"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    put:
      tags:
      - Templates
      summary: Modifying a Message Template
      description: This API is used to modify the message template content.
      operationId: UpdateMessageTemplate
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: message_template_id
        in: path
        description: "Specifies the unique resource ID of a template. To obtain the\
          \ ID, see [Querying Message Templates](ListMessageTemplates.xml)."
        required: true
        schema:
          type: string
        example: 57ba8dcecda844878c5dd5815b65d10f
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateMessageTemplateRequestBody'
        required: false
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateMessageTemplateResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Modifying a message template
      x-request-examples-description-1: Modifying the content of a message template
      x-request-examples-url-1: "PUT https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/b3ffa2cdda574168826316f0628f774f"
      x-request-examples-1:
        content: "(1/22)You are invited to subscribe to topic({topic_id_id1}). Click\
          \ the following URL to confirm subscription:(If you do not want to subscribe\
          \ to this topic, ignore this message.)"
      x-request-examples-text-1:
        content: "(1/22)You are invited to subscribe to topic({topic_id_id1}). Click\
          \ the following URL to confirm subscription:(If you do not want to subscribe\
          \ to this topic, ignore this message.)"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: UpdateMessageTemplateRequestBody
    delete:
      tags:
      - Templates
      summary: Deleting a Message Template
      description: "This API is used to delete a message template. After you delete\
        \ the template, you can no longer use it to publish messages."
      operationId: DeleteMessageTemplate
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: message_template_id
        in: path
        description: "Specifies the unique resource ID of a template. To obtain the\
          \ ID, see [Querying Message Templates](ListMessageTemplates.xml)."
        required: true
        schema:
          type: string
        example: 57ba8dcecda844878c5dd5815b65d10f
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteMessageTemplateResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Deleting a message template
      x-request-examples-description-1: Deleting a message template
      x-request-examples-url-1: "DELETE https://{SMN_Endpoint}/v2/{project_id}/notifications/message_template/b3ffa2cdda574168826316f0628f774e"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
  /v2/{project_id}/notifications/topics/{topic_urn}/publish:
    post:
      tags:
      - Message Publishing
      summary: Publishing a Message
      description: |-
        This API is used to send messages to all subscription endpoints of a topic. After a message ID is returned, the message has been saved and is to be pushed to the subscribers of the topic. To send messages to subscribers successfully, ensure that your message content complies with local laws and regulations.
        Three message formats are supported:

        message

        message_structure

        message_template_name

        If three formats are specified at the same time, they will be applied in the following sequence:
        **message_structure** > **message_template_name** > **message**
        If a KMS key has been bound to the topic, before publishing messages, create an agency named **smn_kms_agency** on IAM and assign resource operation permissions to SMN. When publishing messages, SMN uses this agency to create and decrypt data keys.
      operationId: PublishMessage
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: topic_urn
        in: path
        description: "Specifies the resource identifier of the topic, which is unique.\
          \ To obtain the resource identifier, see [Querying Topics](smn_api_51004.xml)."
        required: true
        schema:
          type: string
        example: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_topic_v2
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/PublishMessageRequestBody'
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PublishMessageResponseBody'
            application/json:
              example:
                request_id: 6a63a18b8bab40ffb71ebd9cb80d0085
                message_id: bf94b63a5dfb475994d3ac34664e24f2
        "400":
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FailedResp'
        "429":
          description: Too Many Requests
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/FailedResp'
      x-name: Publishing a Message
      x-request-examples-description-1: Publishing a message
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish"
      x-request-examples-1:
        subject: test message v2
        message: Message test message v2
        time_to_live: "3600"
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-request-examples-text-1:
        subject: test message v2
        message: Message test message v2
        time_to_live: "3600"
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-request-examples-description-2: Publishing messages using a message structure
      x-request-examples-url-2: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish"
      x-request-examples-2:
        subject: test message v2
        message_structure: "{   \"default\": \"Message structure test message v2\"\
          ,   \"sms\": \"Message structure test message v2\",   \"email\": \"Message\
          \ structure test message v2\",   \"wechat\": \"{\\\"msgtype\\\":\\\"text\\\
          \",\\\"text\\\":{\\\"content\\\":\\\"Message structure test message v2\\\
          \"}}\",   \"dingding\": \"{\\\"msgtype\\\":\\\"markdown\\\",\\\"at\\\":{\\\
          \"atMobiles\\\": [\\\"15XXXXXX\\\"],\\\"atUserIds\\\": [\\\"1234567XXX\\\
          \"],\\\"isAtAll\\\": true},\\\"markdown\\\":{\\\"content\\\":\\\"Message\
          \ structure test message v2 @15XXXXXX @1234567XXX\\\",\\\"title\\\":\\\"\
          Message structure title\\\"}}\",   \"feishu\": \"{\\\"msgtype\\\":\\\"text\\\
          \",\\\"text\\\":{\\\"content\\\":\\\"Message structure test message v2\\\
          \"}}\",   \"welinkRed\": \"{\\\"msgtype\\\":\\\"text\\\",\\\"text\\\":{\\\
          \"content\\\":\\\"Message structure test message v2\\\"}}\",   \"http\"\
          : \"Message structure test message v2\",   \"https\": \"Message structure\
          \ test message v2\",   \"dingTalkBot\": \"{\\\"msgtype\\\":\\\"markdown\\\
          \",\\\"markdown\\\":{\\\"content\\\":\\\"Message structure test message\
          \ v2 dingTalkBot markdown\\\",\\\"title\\\":\\\"Message structure title\\\
          \"}}\",   \"functionstage\": \"Message structure test message v2\" }"
        time_to_live: "3600"
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-request-examples-text-2:
        subject: test message v2
        message_structure: "{   \"default\": \"Message structure test message v2\"\
          ,   \"sms\": \"Message structure test message v2\",   \"email\": \"Message\
          \ structure test message v2\",   \"wechat\": \"{\\\"msgtype\\\":\\\"text\\\
          \",\\\"text\\\":{\\\"content\\\":\\\"Message structure test message v2\\\
          \"}}\",   \"dingding\": \"{\\\"msgtype\\\":\\\"markdown\\\",\\\"at\\\":{\\\
          \"atMobiles\\\": [\\\"15XXXXXX\\\"],\\\"atUserIds\\\": [\\\"1234567XXX\\\
          \"],\\\"isAtAll\\\": true},\\\"markdown\\\":{\\\"content\\\":\\\"Message\
          \ structure test message v2 @15XXXXXX @1234567XXX\\\",\\\"title\\\":\\\"\
          Message structure title\\\"}}\",   \"feishu\": \"{\\\"msgtype\\\":\\\"text\\\
          \",\\\"text\\\":{\\\"content\\\":\\\"Message structure test message v2\\\
          \"}}\",   \"welinkRed\": \"{\\\"msgtype\\\":\\\"text\\\",\\\"text\\\":{\\\
          \"content\\\":\\\"Message structure test message v2\\\"}}\",   \"http\"\
          : \"Message structure test message v2\",   \"https\": \"Message structure\
          \ test message v2\",   \"dingTalkBot\": \"{\\\"msgtype\\\":\\\"markdown\\\
          \",\\\"markdown\\\":{\\\"content\\\":\\\"Message structure test message\
          \ v2 dingTalkBot markdown\\\",\\\"title\\\":\\\"Message structure title\\\
          \"}}\",   \"functionstage\": \"Message structure test message v2\" }"
        time_to_live: "3600"
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-request-examples-description-3: Publishing messages using a template
      x-request-examples-url-3: "POST https://{SMN_Endpoint}/v2/{project_id}/notifications/topics/urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:test_create_topic_v2/publish"
      x-request-examples-3:
        subject: test message template v2
        message_template_name: confirm_message
        time_to_live: "3600"
        tags:
          topic_urn: topic_urn3331
          topic_id: topic_id3332
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-request-examples-text-3:
        subject: test message template v2
        message_template_name: confirm_message
        time_to_live: "3600"
        tags:
          topic_urn: topic_urn3331
          topic_id: topic_id3332
        message_attributes:
        - name: smn_protocol
          type: PROTOCOL
          value:
          - email
          - sms
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: PublishMessageRequestBody
  /v2/{project_id}/{resource_type}/resource_instances/action:
    post:
      tags:
      - Tags
      summary: Querying Resources by Tag
      description: This API is used to query resources by tag.
      operationId: ListResourceInstances
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: resource_type
        in: path
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        schema:
          type: string
        example: smn_topic
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ListInstanceRequestBody'
        required: false
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListInstancesResponseBody'
            application/json:
              example:
                resources:
                  resource_detail:
                    topic_urn: urn:smn:regionId:f96188c7ccaf4ffba0c9aa149ab2bd57:resouece1
                    display_name: testtest
                    enterprise_project_id: "0"
                  resource_id: cffe4fc4c9a54219b60dbaf7b586e132
                  resource_name: resouece1
                  tags:
                  - key: key1
                    value: value1
                total_count: 1000
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying resources by tag
      x-request-examples-description-1: Using tags to filter resources
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/resource_instances/action"
      x-request-examples-1:
        offset: "100"
        limit: "100"
        action: filter
        matches:
        - key: resource_name
          value: resource1
        not_tags:
        - key: key1
          values:
          - '*value1'
          - value2
        - key: key2
          values:
          - '*value21'
          - value22
        tags:
        - key: key1
          values:
          - '*value1'
          - value2
        tags_any:
        - key: key1
          values:
          - value1
          - value2
        not_tags_any:
        - key: key1
          values:
          - value1
          - value2
      x-request-examples-text-1:
        offset: "100"
        limit: "100"
        action: filter
        matches:
        - key: resource_name
          value: resource1
        not_tags:
        - key: key1
          values:
          - '*value1'
          - value2
        - key: key2
          values:
          - '*value21'
          - value22
        tags:
        - key: key1
          values:
          - '*value1'
          - value2
        tags_any:
        - key: key1
          values:
          - value1
          - value2
        not_tags_any:
        - key: key1
          values:
          - value1
          - value2
      x-request-examples-description-2: Using tags to query the total number of resources
      x-request-examples-url-2: "POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/resource_instances/action"
      x-request-examples-2:
        action: count
        not_tags:
        - key: key1
          values:
          - value1
          - '*value2'
        tags:
        - key: key1
          values:
          - value1
          - value2
        tags_any:
        - key: key1
          values:
          - value1
          - value2
        not_tags_any:
        - key: key1
          values:
          - value1
          - value2
        matches:
        - key: resource_name
          value: resource
      x-request-examples-text-2:
        action: count
        not_tags:
        - key: key1
          values:
          - value1
          - '*value2'
        tags:
        - key: key1
          values:
          - value1
          - value2
        tags_any:
        - key: key1
          values:
          - value1
          - value2
        not_tags_any:
        - key: key1
          values:
          - value1
          - value2
        matches:
        - key: resource_name
          value: resouurce
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: ListInstancesRequestBody
  /v2/{project_id}/{resource_type}/{resource_id}/tags/action:
    post:
      tags:
      - Tags
      summary: Adding or Deleting Resource Tags in Batches
      description: |-
        This API is used to add or delete tags in batches for a specified resource. You can add a maximum of 10 tags to a resource.
        The API is idempotent. When you are creating tags, if there are duplicate keys in the request body, an error is reported.
        If a to-be-created tag has the same key as an existing tag, the tag will be created and overwrite the existing one.
        During tag deletion, if some tags do not exist, the deletion is considered to be successful by default. The character set of the tags will not be checked.
      operationId: BatchCreateOrDeleteResourceTags
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: resource_type
        in: path
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        schema:
          type: string
        example: smn_topic
      - name: resource_id
        in: path
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/BatchCreateOrDeleteResourceTagsRequestBody'
        required: false
      responses:
        "204":
          description: OK
          content: {}
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Adding or deleting resource tags in batches
      x-request-examples-description-1: Batch adding tags to resources
      x-request-examples-url-1: "POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags/action"
      x-request-examples-1:
        action: create
        tags:
        - key: key1
          value: value1
        - key: key
          value: value3
      x-request-examples-text-1:
        action: create
        tags:
        - key: key1
          value: value1
        - key: key
          value: value3
      x-request-examples-description-2: Batch deleting resource tags
      x-request-examples-url-2: "POST https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags/action"
      x-request-examples-2:
        action: delete
        tags:
        - key: key1
          value: value1
        - key: key
          value: value3
      x-request-examples-text-2:
        action: delete
        tags:
        - key: key1
        - key: key2
          value: value3
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
      x-codegen-request-body-name: BatchCreateOrDeleteResourceTagsRequestBody
  /v2/{project_id}/{resource_type}/{resource_id}/tags:
    get:
      tags:
      - Tags
      summary: Querying Resource Tags
      description: This API is used to query tags of a specified resource.
      operationId: ListResourceTags
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: resource_type
        in: path
        description: |-
          Specifies the resource type.
          The type can be the following:
          smn_topic: topic
          smn_sms: SMS
          smn_application: mobile push
        required: true
        schema:
          type: string
        example: smn_topic
      - name: resource_id
        in: path
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResourceTagsRequestBody'
            application/json:
              example:
                tags:
                - key: key1
                  value: value1
                - key: key2
                  value: value3
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
      deprecated: false
      x-name: Querying resource tags
      x-request-examples-description-1: Querying resource tags
      x-request-examples-url-1: "GET https://{SMN_Endpoint}/v2/{project_id}/{resource_type}/{resource_id}/tags"
      x-open-region-cloud: "hk,hc,hws_eu,hcso,fcs,hk_vdf,ctc,cmcc,otc,ocb,hws_ocb,g42,tm,sbc,hk_g42,hk_tm,hk_sbc,srg,ax"
      x-is-registered: "Y"
      x-support-sdk: "Y"
      x-apiexplorer-hide: "N"
      x-iftype: externalAPI
    post:
      tags:
      - Tags
      summary: Adding a Resource Tag
      description: "You can add a maximum of 10 tags to a resource. The API is idempotent.\
        \ If a to-be-created tag has the same key as an existing tag, the tag will\
        \ be created and overwrite the existing one."
      operationId: CreateResourceTag
      parameters:
      - name: project_id
        in: path
        description: "Specifies the project ID.For details about how to obtain the\
          \ project ID, see [Obtaining the Project ID](smn_api_66000.xml)."
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: resource_type
        in: path
        description: |-
          Specifies the resource type. Possible values are:

          smn_topic: topic

          smn_sms: SMS

          smn_application: mobile push
        required: true
        schema:
          type: string
        example: smn_topic
      - name: resource_id
        in: path
        description: |-
          Specifies the resource ID.

          To obtain the value of resource_id, perform the following steps:

          When resource_type is set to smn_topic:
          Add X-SMN-RESOURCEID-TYPE=name in the request header and set the resource ID to the topic name.
          Call the GetResourceInstances API to obtain the resource ID.
          If you set resource_type to smn_sms, the resource ID is the signature ID, which can be obtained on the console.
        required: true
        schema:
          type: string
        example: 2c31ed520xxxxxxebedb6e81xxxxxxxx
      - name: X-Auth-Token
        in: header
        description: |-
          Specifies a user token.

          It can be obtained by calling an IAM API. The value of X-Subject-Token in the response header is the user token.
        required: true
        schema:
          type: string
        example: MIIDkgYJKoZIhvcNAQcCoIIDgzCCXXXXXX...
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateResourceTagRequestBody'
        required: false
      responses:
        "204":
          description: OK
          content: {}
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "403":
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FailedResp'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
[...]
